<footer>
	<div id="footer-wrap">
		<div id="footer-area">
			<div class="locations clearfix">
				<div class="location">
					<h4><a title="Greenbrier Mall" href="/location/1887/Greenbrier-Chesapeake-Showtimes">Greenbrier Mall</a></h4>
					<address>Located Inside Greenbrier Mall<br> 1401 Greenbrier Parkway<br> Chesapeake, VA 23320<br> (855) 523-SHOW</address>
				</div>
				<div class="location">
					<h4><a title="Greenbrier Mall" href="/location/48350/Cinema-Cafe-Chester-VA-Showtimes">Chester</a></h4>
					<address>12006 Bermuda Crossroad Lane<br> Chester, VA 23831<br> (855) 523-SHOW</address>
				</div>
				<div class="location">
					<h4><a title="Hampton" href="/location/9661/Riverdale-Hampton-Showtimes">Hampton</a></h4>
					<address>1044 Von Schilling Drive<br> Hampton, VA 23666<br> (855) 523-SHOW</address>
				</div>
				<div class="location">
					<h4><a title="Edinburgh" href="/location/42617/Edinburgh-Chesapeake-Showtimes">Edinburgh</a></h4>
					<address>1864 Edinburgh Lane<br>Chesapeake, VA 23322<br> (855) 523-SHOW</address>
				</div>
				<div class="location">
					<h4><a title="Kemps River" href="/location/4117/Kemps-River-VA-Beach-Showtimes">Kemps River</a></h4>
					<address>1220 Fordham Drive<br> Virginia Beach, VA 23464<br> (855) 523-SHOW</address>
				</div>
				<div class="location">
					<h4><a title="Pembroke Meadows" href="/location/10401/Pembroke-Meadows-VA-Beach-Showtimes">Pembroke Meadows</a></h4>
					<address>752 Independence Blvd. Ste. 4590<br> Virginia Beach, VA 23455<br> (855) 523-SHOW</address>
				</div>
			</div>
			<div id="footer-mid">
			</div>
			<div id="footer-bottom">
				<p><a href="/">Home</a> | <a href="/page/2726/Events">Events</a> | <a href="/page/2722/Menu">Menu</a> | <a title="Parties" href="/page/2725/Parties">Parties</a> | <a title="Employment" href="/page/2714/Employment">Employment</a> |
					<a title="Contact Us" href="/page/2688/Contact">Contact Us</a> | <a title="Sitemap" href="/sitemap">Sitemap</a> | <a title="MPAA" href="/page/2684/MPAA-Ratings">MPAA Ratings</a> | <a title="MPAA" href="/page/14157/DMCA">DMCA</a></p>
			</div>
			<div id="footer-copyright">
				<a href="https://company.boxoffice.com/">
					<img id="PoweredRight" src="https://movienewsletters.net/poweredby/boxoffice/light.svg" height="46" width="auto" alt="Powered by The Boxoffice Company">
				</a>
			</div>
		</div>
	</div>
</footer>