<article class="side_content" style="text-align:center">
    <h2>Showtimes & Tickets</h2>
    <select id="select-houses" name="select-houses" onchange="select_link('houses');">
        <option value="">Select Location</option>
        {{ include('parts/houses_select.twig') }}
    </select>

    <div id="side_menu">
        <a href="/movies">Movies</a>
        <hr>
        <a href="/page/2722/Menu">Cafe Menu</a>
        <hr>
        <a href="/page/11310/Gift-Cards">Online Store</a>
        <hr>
        <a href="/page/2770/Newsletter-Signup">Join Our Newsletter</a>
        <hr>
        <a href="/page/2714/Employment">Employment</a>
        <hr>
        <a href="/page/2688/Contact">Contact</a>
    </div>
</article>
<hr>