<div class="promotion-inner">
    <div class="text-container">
        <h2 class="main-name">More than just a theatre</h2>
        <div class="sub-title"><i>Majestic Bay</i> is a cinema experience</div>
        <div class="info">
            <p>
            Beyond our daily movie showtimes, Majestic Bay Theatres is open to corporate groups, schools, non-profit organizations and private parties of all kinds.
            <a href="/">Talk with us today</a> about bringing your group to enjoy a cinema expeirience in the heart of downtown Ballard, WA.
            </p>
        </div>
    </div>
    <div class="events-wrap">
        <div class="row">
            <div class="event-item col-md-6">
                <div class="inner">
                    <img src="/" />
                    <div class="name">
                        Corporate &
                        Nonprofit Events
                    </div>
                </div>
            </div>
            <div class="event-item col-md-6">
                <div class="inner">
                    <img src="/" />
                    <div class="name">
                        Private parties
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>