body {
    color: {{ data.css.text_color }};
    font-family: {{ data.css.font|raw }};
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    {{ data.css.background_image|raw }}
    {{ data.css.background_repeat }}
    background-position:top center;
    {{ data.css.box_sizing }}
}
a {
    color: {{ data.css.text_color }};
    font-family: {{ data.css.font|raw }};
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: {{ data.css.font|raw }};
}
h1 {
    font-size: 31px;
    line-height: 42px;
}
h2 {
    font-size: 18px;
    line-height: 30px;
}
input, select, button, a {
    outline: none;
}
select {
    min-width: 240px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    font-family: {{ data.css.font|raw }};
    font-size: 21px;
    line-height: 31px;
    padding: 0 10px;
}
strong { font-weight: bold; }
select::placeholder {color: #C4C4C4;}
button {
    color: #FFFFFF;
    font-family: {{ data.css.font|raw }};
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    background-color: {{ data.css.link_color }};
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
svg {pointer-events: none;}
img.svg {display: none;}
.clearfix {
    zoom: 1;
    clear: both;
}
.show {display: block!important;}
.hide {display: none!important;}
#header-content,
#main-content,
#footer-content {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}
#main-content {overflow: hidden;}
#social-icons a {
    position: relative;
    display: inline-block;
    background-color: {{ data.css.link_color }};
    height: 50px;
    width: 50px;
    margin-right: 7px;
}
#social-icons a:last-child {margin-right: 0;}
#social-icons a img,
#social-icons a svg {
    width: 30px;
    height: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#social-icons a svg path {fill: {{ data.css.text_color }}!important;}
.slick-list .slick-slide {outline: none;}
.slick-prev {left: 0;}
.slick-prev:before {content: url(/assets/img/icon-arrow-left.svg);}
.slick-next {right: 0;}
.slick-next:before {content: url(/assets/img/icon-arrow-right.svg);}
.slick-prev-custom,
.slick-next-custom {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 998;
    top: calc(50% - 12px);
    cursor: pointer;
}
.slick-prev-custom svg,
.slick-next-custom svg {fill: {{ data.css.link_color }};}
.slick-prev-custom {left:0;}
.slick-next-custom {right:0;}

/*---------------------*/
/*  AJAX Loader Start  */
/*---------------------*/

@-webkit-keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/* Loading animation container */
.loading {
    position: relative;
    background-color: {{ data.css.background_color_1 }};
    border-radius: 50px;
    width: 104px;
    height: 104px;
    margin: 20px auto 0;
}
.loading .spinner {
    position: absolute;
    left: 8px;
    top: 5px;
    width: 90px;
    height: 90px;
    animation: spin 2s infinite linear;
}
.loading .mask {
    width: 42px;
    height: 42px;
    overflow: hidden;
}
.loading .maskedCircle {
    width: 104px;
    height: 104px;
    border-radius: 42px;
    border: 3px solid {{ data.css.link_color }};
}
.loading.small {
    width: 52px;
    height: 52px;
    margin: 0 auto;
}
.loading.small .spinner {
    left: 4px;
    top: 2.5px;
    width: 45px;
    height: 45px;
}
.loading.small .mask {
    width: 21px;
    height: 21px;
}
.loading.small .maskedCircle {
    width: 52px;
    height: 52px;
    border-radius: 21px;
}

/***************** HEADER *****************/

#site-header {
    margin-top: 2px;
    box-shadow: 0 2px 0 0 rgba(48, 49, 51, 0.1);
}
#header-content {
    display: table;
    position: relative;
    padding-bottom: 12px;
}
#header-content #logo-home-link {
    float: left;
    margin-left: 12px;
}
#header-content #site-social-icons {
     display: none;
    float: right;
}
#nav-block {
    float: right;
    margin-top: 56px;
}
#nav-trigger {
    display: none;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    width: 52px;
    height: 52px;
}
label[for="nav-trigger"] #close {display: none;}
label[for="nav-trigger"] #hamburger,
label[for="nav-trigger"] #close {
    width: 52px;
    height: 52px;
}
label[for="nav-trigger"] svg#hamburger path,
label[for="nav-trigger"] svg#close path {
    fill: {{ data.css.text_color }};
}
#top-nav {
    float: right;
    text-align: center;
}
#top-nav,
#top-nav a {
    color: {{ data.css.link_color }};
    font-family: {{ data.css.font|raw }};
    font-size: 21px;
}
#top-nav .mobile-title {display: none;}
#top-nav > ul > li {
    position: relative;
    display: inline-block;
    width: 150px;
    border-bottom: 2px solid;
    margin: 0 5px;
}
#top-nav > ul > li > a {
    display: block;
    padding: 10px;
}
#top-nav > ul > li > a > * {vertical-align: middle;}
#top-nav > ul > li > a > .icon {
    display: none;
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
#top-nav > ul > li > a > .icon svg path {fill: #C4C4C4;}
#top-nav > ul > li:hover {border-color: {{ data.css.background_color_1 }};}
#top-nav > ul > li:hover a {color: {{ data.css.background_color_1 }};}
#top-nav > ul > li:first-child {margin-left: 0;}
#top-nav > ul > li:last-child {margin-right: 0;}
#top-nav ul li.sub-nav-container {position: relative;}
#top-nav ul li.sub-nav-container ul.sub-nav {
    display: none;
    position: absolute;
    left: 50%;
    padding: 5px;
    background-color: {{ data.css.background_color_1 }};
    color: {{ data.css.background_color_2 }};
    border-radius:2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    min-width: 100%;
    z-index: 9999;
}
#top-nav ul li.sub-nav-container ul.sub-nav li a {
    color: {{ data.css.background_color_2 }};
    font-family: {{ data.css.font|raw }};
    font-size: 16px;
    line-height: 20px;
}
#top-nav ul li.sub-nav-container ul.sub-nav li {
    font-size: 18px;
    line-height: 30px;
    white-space: nowrap;
}
#top-nav ul li.sub-nav-container ul.sub-nav li.sub-header {margin: 5px;font-weight: bold;}
#top-nav ul li.sub-nav-container:hover ul.sub-nav {display: block;}

/* header version 2 (lrw - L = logo Left; R = Nav Right; W = With social icon;) */
#site-header.lrw #header-content {margin-top: 24px;}
#site-header.lrw #header-content #site-social-icons {display: block;}
#site-header.lrw #header-content #nav-block {
    margin-top: 24px;
    clear: right;
}

/* header version 3 (csn - C = logo Center; S = nav Split; N = No social;) */
#site-header.csn #header-content #logo-home-link {
    position: absolute;
    left: calc(50% - 78px);
    margin-left: 0;
}
#site-header.csn #header-content #nav-block {width: 100%;}
#site-header.csn #header-content #nav-block #top-nav {float: none;}
#site-header.csn #header-content #nav-block #top-nav > ul > li.csn-logo-after {margin-right: 108px;}
#site-header.csn #header-content #nav-block #top-nav > ul > li.csn-logo-after + li {margin-left: 108px;}

/* header version 4 (cbw - C = logo Center; B = nav Bottom; W = With social icon;) */
/* header version 5 (lbw - L = logo Left; B = nav Bottom; W = With social icon;) */
/* header version 6 (cbn - C = logo Center; B = nav Bottom; N = No social;) */
#site-header.cbw #header-content,
#site-header.lbw #header-content,
#site-header.cbn #header-content {margin-bottom: 0;}
#site-header.cbw #header-content #logo-home-link,
#site-header.cbn #header-content #logo-home-link {
    display: table;
    margin: auto;
    float: none;
}
#site-header.cbw #header-content #site-social-icons,
#site-header.lbw #header-content #site-social-icons {
    display: block;
    margin-top: 24px;
    position: absolute;
    top: 0;
    right: 0;
}
#site-header.cbw #header-content #nav-block,
#site-header.lbw #header-content #nav-block,
#site-header.cbn #header-content #nav-block {
    width: 100%;
    margin-top: 21px;
}
#site-header.cbw #header-content #nav-block #top-nav,
#site-header.lbw #header-content #nav-block #top-nav,
#site-header.cbn #header-content #nav-block #top-nav {float: none;}
#site-header.cbw #header-content #nav-block #top-nav > ul > li,
#site-header.lbw #header-content #nav-block #top-nav > ul > li,
#site-header.cbn #header-content #nav-block #top-nav > ul > li {
    width: 205px;
    margin: 0 5px;
}


/***************** CONTENT *****************/

#fxp-content ul {
    list-style: unset;
    padding: revert;
}

/* blocks */
.blocks {
    overflow: hidden;
    margin: 0 0 20px;
    width: 100%;
}
.blocks:first-child {margin-top: 20px;}
.blocks > h2 {
    color: {{ data.css.background_color_2 }};
    background-color: {{ data.css.background_color_1 }};
    font-family: {{ data.css.font|raw }};
    font-size: 37px;
    font-weight: bold;
    line-height: 48px;
    padding: 5px;
    margin-bottom: 20px;
}

/* Slider */
#content-slider {
    position: relative;
    overflow: visible;
}
#content-slider .slick-prev-custom,
#content-slider .slick-next-custom {
    top: calc(50% - 24px);
}
#content-slider .slick-prev-custom,
#content-slider .slick-prev-custom svg,
#content-slider .slick-next-custom,
#content-slider .slick-next-custom svg {
    width: 48px;
    height: 48px;
}
#content-slider .slick-dots li button:before {font-size: 16px;}
#content-slider .slide {position: relative;}
#content-slider .slide img {
    width: 100%;
    min-height: 150px;
}
#content-slider .slide .slider-text {
    position: absolute;
    color: #FFFFFF;
    bottom: 17px;
    left: 17px;
    text-shadow: 0px 0px 5px #000000;
}

/* Showtimes */
#showdates {
    display: inline-block;
    width: calc(100% - 70px);
    height: 45px;
    margin-right: 25px;
}
#showdates > .slick-arrow + .slick-list {
    width: calc(100% - 80px);
    margin: 0 40px;
}
#showdates .slick-list:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

}
#showdates:not(.slick-slider-last-active) .slick-list:after {
    width: 50px;
    transition: width 300ms ease-in-out;
}
#showdates .slick-list .slick-slide {
    overflow: hidden;
    background: none;
    border-width: 0 1px 1px 0;
    border-right-color: #CECECE;
    border-bottom-color: {{ data.css.link_color }};
    border-style: solid;
    border-radius: 0;
    color: {{ data.css.text_color }};
    font-family: {{ data.css.font|raw }};
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    white-space: nowrap;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}
#showdates .slick-list .slick-slide.no_showdates {
    border: none;
    overflow: visible;
    cursor: default;
}
#showdates .slick-list .slick-slide.showdate-selected {
    border-bottom-width: 3px;
    font-weight: bold;
}
#calendar {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    height: 45px;
    width: 45px;
    border-radius: 4px;
}
#calendar #datepicker {
    background: url(/assets/img/icon-calendar.svg) no-repeat center center {{ data.css.link_color }};
    height: 100%;
    width: 100%;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}
.ui-datepicker {z-index: 9999!important;}
.ui-datepicker .ui-datepicker-header {
    background: none!important;
    border: none!important;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {top: 6px;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    background-position: 0;
    margin: 0;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev span {
    background-image: url(../../assets/img/icon-arrow-left-black.svg);
}
.ui-datepicker .ui-datepicker-next span {
    background-image: url(../../assets/img/icon-arrow-right-black.svg);
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover, .ui-button:focus {
    background: no-repeat;
    border: none;
}
.ui-datepicker td {padding: 0;}
.ui-datepicker td span,
.ui-datepicker td a {text-align: center;}
.ui-datepicker th {color: #A0A0A0;}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
    background-image: none;
    font-size: 21px;
    line-height: 26px;
    padding: 5px 0;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {opacity: 1;}
span.ui-state-default {
    background-color: #F5F5F5!important;
    color: #DEDEDE!important;
}
a.ui-state-default {
    background-color: #FFFFFF!important;
    color: #000000!important;
}
a.ui-state-default.ui-state-active {
    background-color: #0089EC!important;
    color: #FFFFFF!important;
}
.ui-datepicker .ui-datepicker-buttonpane {
    border: none;
    text-align: center;
    margin: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    background: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    opacity: 1;
    float: none!important;
}
#filter {
    display: none;
    margin: 16px 0 20px 5px;
}
#filter .name {
    display: inline-block;
    width: 53px;
    font-family: {{ data.css.font|raw }};
    vertical-align: middle;
}
#filter .filters {
    display: inline-block;
    width: calc(100% - 53px);
    vertical-align: middle;
}
#filter .filters .filter {
    display: none;
    height: 32px;
    width: 124px;
    margin: 0 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    outline: none;
}
#showtimes .showtimes-details {
    position: relative;
    border: 1px solid #8D8D8F;
    border-radius: 2px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
#showtimes .showtimes-details:last-child {margin-bottom: 0;}
#showtimes .showtimes-details .poster {
    position: relative;
    display: inline-block;
    width: 300px;
}
#showtimes .showtimes-details .poster .mobile {display: none;}
#showtimes .showtimes-details .poster i.icon-info {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
}
#showtimes .showtimes-details .poster i.icon-info:before {
    content: url(../../assets/img/icon-info.svg);
}
#showtimes .showtimes-details .info {
    display: inline-block;
    width: calc(100% - 330px - 366px);
    vertical-align: top;
    margin: 0 20px;
    position: relative;
    overflow: hidden;
    height: 450px;
}
#showtimes .showtimes-details .info .name {
    font-size: 31px;
    line-height: 42px;
}
#showtimes .showtimes-details .info .mpaa,
#showtimes .showtimes-details .info .runtime {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
}
#showtimes .showtimes-details .info .dot:before {
    content: "\2219";
    font-weight: bold;
}
#showtimes .showtimes-details .info .synopsis {
    display: block;
    margin-top: 5px;
}
#showtimes .showtimes-details .info a.more-details {
    float: right;
    color: {{ data.css.background_color_1 }};
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 0 0 20px;
}
#showtimes .showtimes-details .showtimes {width: 366px;}
#main-content.left #showtimes .showtimes-details,
#main-content.right #showtimes .showtimes-details {padding: 10px;}
#main-content.left #showtimes .showtimes-details .poster,
#main-content.right #showtimes .showtimes-details .poster {width: 150px;}
#main-content.left #showtimes .showtimes-details .info,
#main-content.right #showtimes .showtimes-details .info {
    width: calc(100% - 180px - 366px);
    height: 229px;
}
#main-content.right #showtimes .showtimes-details .info .name {
    font-size: 16px;
    line-height: 20px;
}
.showtimes {
    display: inline-block;
    margin-top: -10px;
    margin-left: -10px;
    vertical-align: top;
}
.showtimes span.showtime,
.showtimes a.showtime {
    display: inline-block;
    height: 36px;
    width: 110px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-radius: 2px;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
}
.comments {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.showtimes .showtime.filtered, .showtimes .comments.filtered {display: none;}
.showtimes .showtime.soldout,
.showtimes .showtime.expired {border-color: #8D8D8F; color: #8D8D8F;}
.showtimes .showtime.soldout .format,
.showtimes .showtime.expired .format {color: #8D8D8F;}
.showtimes .showtime .time {display: block;}
.showtimes .showtime .format, .comments .format {display: none;}
.showtimes .showtime .time .ampm,
.showtimes .showtime .format {
    font-size: 10px;
    line-height: 16px;
    font-weight: bold;
}
#movie .showtimes {margin-top: -10px;}
#movie .showtimes .showtime_comment {padding: 0 10px 0 10px;}

/* Promotions */
.promotions-block {display: none;}
.promotions-block .banners .banner {
    text-align: center;
    width: calc((100% - 40px) / 3);
    float: left;
    margin-right: 20px;
}
.promotions-block .banners .banner:last-child {margin-right: 0;}
.promotions-block .banners .banner img {width: 100%;}

/* Location Info */
.location_info-block {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 30px;
}
.location_info-block .content {
    display: table;
    width: 100%;
    height: 320px;
}
.location_info-block .content > div {display: table-cell;}
.location_info-block .info {
    background-color: #8D8D8F;
    width: 320px;
    max-width: 320px;
    vertical-align: top;
}
.location_info-block .info .image {
    margin: 10px 5px;
    text-align: center;
}
.location_info-block .info .text {margin: 13px 10px 36px;}

/* Sidebar positions */

/* sidebar top */
/* sidebar bottom */
#main-content.top .promotions-block,
#main-content.bottom .promotions-block {display: block;}

/* sidebar right */
/* sidebar left */
#main-content.right .showtimes-block,
#main-content.left .showtimes-block,
#main-content.right .now_playing-block,
#main-content.left .now_playing-block,
#main-content.right .coming_soon-block,
#main-content.left .coming_soon-block,
#main-content.right .promotions-block,
#main-content.left .promotions-block {
    display: inline-block;
    vertical-align: top;
}
#main-content.right .showtimes-block,
#main-content.left .showtimes-block,
#main-content.right .now_playing-block,
#main-content.left .now_playing-block,
#main-content.right .coming_soon-block,
#main-content.left .coming_soon-block {width: calc(100% - 18px - 32.656%);}
#main-content.left .promotions-block {margin-right: 18px;}
#main-content.right .promotions-block {margin-left: 18px;}
#main-content.right .promotions-block,
#main-content.left .promotions-block {width: 32.657%;}
#main-content.right .showtimes-block,
#main-content.right .now_playing-block,
#main-content.right .coming_soon-block {float: left;}
#main-content.left .showtimes-block,
#main-content.left .now_playing-block,
#main-content.left .coming_soon-block {float: right;}
#main-content.left .promotions-block .banners .banner,
#main-content.right .promotions-block .banners .banner {
    width: 100%;
    margin: 0 0 20px;
}
#main-content.left .promotions-block .banners .banner > a,
#main-content.right .promotions-block .banners .banner > a {display: block;}
#main-content.left .promotions-block .banners .banner:last-child,
#main-content.right  .promotions-block .banners .banner:last-child {margin: 0;}

/*** Home page ***/
#home-location .blocks:first-child {margin-top: 0;}
#home-location .blocks:last-child {margin-bottom: 0;}

/*** Movies page ***/
#movies #main-content {padding-top: 10px;}
#movies #main-content .blocks:first-child {margin-top: 0;}
#movies .now_playing-block,
#movies .coming_soon-block {margin: 0 0 10px 0;}
#movies .items {margin: -10px 0 0 -20px;}
#movies .grid-poster {
    position: relative;
    display: inline-block;
    width: 196px;
    margin: 10px 0 10px 20px;
    vertical-align: top;
}
#movies .grid-poster:last-child {margin-bottom: 0;}
#movies .grid-poster .poster {
    position: relative;
    display: inline-block;
}
#movies .grid-poster .poster .mobile {display: none;}
#movies .grid-poster .poster i.icon-info {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
}
#movies .grid-poster .poster i.icon-info:before {
    content: url(../../assets/img/icon-info.svg);
}
#movies .grid-poster .info .mpaa_runtime {display: none;}
#movies .grid-poster .info .name {
    font-size: 14px;
    line-height: 18px;
}
#movies .grid-poster .info .mpaa,
#movies .grid-poster .info .runtime {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
}
#movies .grid-poster .info .dot:before {
    content: "\2219";
    font-weight: bold;
}

/*** Movie page ***/
#movie #movie-header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: {{ data.css.link_color }};
    color: #FFFFFF;
    height: 110px;
    padding: 5px 100px 5px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#movie #movie-header.play-video {cursor: pointer;}
#movie #movie-header h1 {
    font-size: 18px;
    line-height: 20px;
}
#movie #movie-header .mpaa,
#movie #movie-header .runtime {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
}
#movie #movie-header h1,
#movie #movie-header .mpaa,
#movie #movie-header .runtime {text-shadow: 0 1px 5px #000000;}
#movie #movie-header .dot:before {
    content: "\2219";
    font-weight: bold;
}
#movie #movie-header #play-trailer {
    position: absolute;
    right: 10px;
    top: calc(50% - 43px);
    width: 85px;
    height: 85px;
}
#movie #movie-header #play-trailer svg {
    width: 85px;
    height: 85px;
}
#movie #movie-header #play-trailer svg path {fill: #FFFFFF;}
#movie #movie-video {
    display: none;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 9999;
}
#movie #movie-details {
    overflow: hidden;
    margin-bottom: 20px;
}
#movie #movie-details .poster {
    width: 32.5%;
    float: left;
    text-align: left;
}
#movie #movie-details .info {
    float: left;
    width: 66.5%;
    margin-left: 1%;
}
#movie #movie-details .info h1 {
    font-size: 45px;
    line-height: 56px;
    margin-bottom: 10px;
}
#movie #movie-details .info .detail {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}
#movie #movie-details .info .custom_text {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 10px;
    border-top:2px solid {{ data.css.link_color }};
    border-bottom:2px solid {{ data.css.link_color }};
}
#movie #movie-stills .slick-slide {
    height: 250px;
    margin: 0 5px;
}

/*** Newsletter page ***/
#newsletter {
    width: 100%;
    height: 800px;
    display: block;
    margin: 0 auto;
}

/*** Error 404 page ***/
#error-404 {text-align: center;}

/***************** FOOTER *****************/
#site-footer {
    color: {{ data.css.background_color_2 }};
    background-color: {{ data.css.background_color_1 }};
    text-align: center;
    padding: 40px 0 18px;
}
#site-footer a {color: {{ data.css.background_color_2 }};}
#site-footer .frow {
    display: flex;
    flex-wrap: wrap;
}
#site-footer .frow .fcol-1 {flex-basis: 40%;}
#site-footer .frow .fcol-2 {
    flex-basis: 18%;
    margin: 0 1%;
}
#site-footer .frow .fcol-3 {flex-basis: 40%;}
#site-footer .logo img {width: 230px;}
#site-footer .copyright,
#site-footer .powered_by {margin-top: 20px;}
#site-footer #bottom-nav {white-space: nowrap;}
#site-footer #bottom-nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#site-footer #bottom-nav > ul > li {flex-basis: 100%;}
#site-footer #bottom-nav .category-name,
#site-footer #bottom-nav > ul > li a {
    font-size: 18px;
    line-height: 30px;
}
#site-footer #bottom-nav .category-name {
    font-family: {{ data.css.font|raw }};
}
#site-footer #newsletter-form {margin-bottom: 20px;}
#site-footer #newsletter-form input {
    width: 240px;
    height: 30px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    font-family: {{ data.css.font|raw }};
    font-size: 22px;
    padding: 4px 10px;
}
#site-footer #newsletter-form input::placeholder {color: #C4C4C4;}
#site-footer #newsletter-form button {
    position: relative;
    color: #FFFFFF;
    font-family: {{ data.css.font|raw }};
    font-size: 14px;
    letter-spacing: 1px;
    background-color: {{ data.css.link_color }};
    width: 119px;
    height: 40px;
    border: none;
    border-radius: 4px;
    margin-left: -8px;
    padding: 10px 38px 10px 10px;
    vertical-align: top;
    cursor: pointer;
}
#site-footer #newsletter-form button:after {
    content: url("../../assets/img/icon-email.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    right: 8px;
    top: 8px;
}

/* footer version Compact */
#site-footer.compact {padding: 20px 0;}
#site-footer.compact #footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#site-footer.compact #footer-content > div {margin: 0;}
#site-footer.compact #footer-content > div.frow {flex-basis: calc(100% - 530px);}
#site-footer.compact #footer-content > div.copyright {flex-basis: 380px;}
#site-footer.compact #footer-content > div.powered_by {flex-basis: 150px;}
#site-footer.compact .fcol-1 {flex-basis: 100%;}
#site-footer.compact .fcol-2,
#site-footer.compact .fcol-3 {display: none;}
#site-footer.compact #bottom-nav .category-name {font-family: inherit;}
#site-footer.compact #bottom-nav > ul > li {
    flex-basis: 48%;
    text-align: left;
}
#site-footer.compact #bottom-nav > ul > li.bottom-nav-category > ul.sub-bottom-nav {display: none;}

/* Movie formats color */
.filter {border-color: #303133;}
.filter.active {background-color: #303133; color: #FFFFFF;}
a.showtime {color: #303133; border: 1px solid #303133;}

.filter.active.format_2d {background-color: #303133; border-color: #303133;}
a.showtime.format_2d .format {color: #303133;}
a.showtime.format_2d:hover {background-color: #303133; border-color: #303133; color: #FFFFFF;}
a.showtime.format_2d:hover .format {color: #FFFFFF;}

.filter.active.format_3d {background-color: #BC6559; border-color: #BC6559;}
a.showtime.format_3d .format {color: #BC6559;}
a.showtime.format_3d:hover {background-color: #BC6559; border-color: #BC6559; color: #FFFFFF;}
a.showtime.format_3d:hover .format {color: #FFFFFF;}

.filter.active.format_imax {background-color: #9BC1BF; border-color: #9BC1BF;}
a.showtime.format_imax .format {color: #9BC1BF;}
a.showtime.format_imax:hover {background-color: #9BC1BF; border-color: #9BC1BF; color: #FFFFFF;}
a.showtime.format_imax:hover .format {color: #FFFFFF;}

.filter.active.format_imax_3d {background-color: #386462; border-color: #386462;}
a.showtime.format_imax_3d .format {color: #386462;}
a.showtime.format_imax_3d:hover {background-color: #386462; border-color: #386462; color: #FFFFFF;}
a.showtime.format_imax_3d:hover .format {color: #FFFFFF;}

.filter.active.format_35mm {background-color: #4C5FD7; border-color: #4C5FD7;}
a.showtime.format_35mm .format {color: #4C5FD7;}
a.showtime.format_35mm:hover {background-color: #4C5FD7; border-color: #4C5FD7; color: #FFFFFF;}
a.showtime.format_35mm:hover .format {color: #FFFFFF;}

.filter.active.format_70mm {background-color: #fdcb6e; border-color: #fdcb6e;}
a.showtime.format_70mm .format {color: #fdcb6e;}
a.showtime.format_70mm:hover {background-color: #fdcb6e; border-color: #fdcb6e; color: #FFFFFF;}
a.showtime.format_70mm:hover .format {color: #FFFFFF;}

.filter.active.format_hfr {background-color: #a29bfe; border-color: #a29bfe;}
a.showtime.format_hfr .format {color: #a29bfe;}
a.showtime.format_hfr:hover {background-color: #a29bfe; border-color: #a29bfe; color: #FFFFFF;}
a.showtime.format_hfr:hover .format {color: #FFFFFF;}

iframe#movie-video {pointer-events: none;}