
<footer>
    &copy; {{ "now"|date("Y") }} {{ site.config.title }}. <strong><a href="/contact-us">Contact Us</a></strong>.
    <br/> <br/>

    <div style="text-align: center">
    <a href="https://webediamoviespro.com/">
        <img id="PoweredRight" src="//movienewsletters.net/poweredby/new/PoweredBy_white.png" alt="Powered by Webedia Entertainment" target="_blank">
    </a>
    </div>

</footer>


