<header>
    <img src="{{- this_page.header.logo -}}" alt="{{ site.config.title }} Logo"/>
    <nav>
        <a href="/" class="first">Home</a>
        <a href="/now-showing">Now Showing</a>
        <a href="/playing-today">Today</a>
        <a href="/coming-soon">Coming Soon</a>
        <a href="/about-us">About Us</a>
        <a href="/venue-hire">Venue Hire</a>
        <a href="/contact-us">Contact Us</a>
    </nav>
</header>