<table>
    <tr>
        <td>
            <a href="/" class="main">Home</a>
            <a href="/locations" class="main">Showtimes</a>
            <a href="/movies" class="main">Movies</a>
        </td>
        <td>
            <a href="/giftcards" class="main">Gift Cards</a>
            <a href="https://marqueecinemas.cardfoundry.com/giftcards.php" target="_blank">Purchase</a>
            <a href="https://marqueecinemas.cardfoundry.com/giftcards.php?action=card_balance" target="_blank">Balance Inquiry</a>
        </td>
        <td>
            <a href="/about" class="main">Information</a>
            <a href="/about">Company History</a>
            <a href="/ratings">Movie Ratings</a>
            <a href="/page/14127/DMCA">DMCA</a>
            <!--a href="/newlocations">New Locations</a-->
        </td>
        <td>
            <a href="/rentals" class="main">Rentals</a>
            <a href="/rentals?#auditorium">Auditorium Rentals</a>
            <a href="/rentals?#birthday">Birthday Parties</a>
            <a href="/rentals?#church">Church Services</a>
            <a href="/rentals?#private">Private Showings</a>
            <a href="/rentals?#school">School Field Trips</a>
        </td>
        <td>
            <a href="/contactus" class="main">Contact Us</a>
            <a href="/contactus">Customer Care</a>
            <a href="/employment">Employment</a>
            <a href="/donation">Donation Requests</a>
            <a href="/advertising">Screen Advertising</a>
            <a href='//csxutils.fbmovies.cinema-source.com/subscribe/?cust_id=226&iframe=true&width=600&height=400' class="signup" data-fancybox-type="iframe">Newsletter</a>
        </td>
    </tr>
</table>