<a href='/flashback-cinema' target='_self'>
    <img src='//www.filmsxpress.com/images/Carousel/62/FB graphic box.jpg' alt='FB graphic'/></a>
<a href='https://www.facebook.com/MarqueeCinemas' target='_self'>
    <img src='//www.filmsxpress.com/images/Carousel/62/Facebook for website.jpg' alt='Facebook for website'/></a>