{% block content %}
    <div id="wrapper">
        <main id="main-content" class="clearfix">
            
                <div class="width-wrapper">
                    <div id="fxp-content">
                        <div class="custom-letterbox private-screening">
                            <div class="letterbox-content">
                                <div class="row">
                                    <div class="col-6">
                                        <h1 class="letterbox-title">PRIVATE SCREENING ROOM</h1>
                                        <p class="letterbox-text">
                                            Highland Park Village Theatre offers two<br/>
                                            intimate screening rooms, perfect for a birthday<br/>
                                            party or group outing. The “Red Room” seats 16<br/>
                                            and the “Living Room” seats approximately 14.<br/>
                                            Room rentals are for 3 hours and include the<br/>
                                            price of your movie tickets.
                                        </p>
                                        <p class="letterbox-text text-uppercase">
                                            Food and beverage minimums apply.
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="letterbox-text text-italic">
                                            If you are interested in a private event,<br/>
                                            please contact our Event Specialist at<br/>
                                            <a href="mailto:events@hpvillage.com">events@hpvillage.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <img src="/assets/img/private-event.jpg" alt="Private screening room"/>
                        </div>
                    </div>
                </div>

        </main>
    </div>
{% endblock %}