{% set tab_index = 1 %}
{% if site.config.template_options.slider_npcs == 'both' or site.config.template_options.slider_npcs == 'np' %}
    {{ include('helper/blocks/home-movie-slider-block.twig',
        {   movies: movies.np,
            class: 'now-playing',
            tab: tab_index,
            show_titles: site.config.template_options.slider_title
        })
    }}
    {% set tab_index = tab_index + 1 %}
{% endif %}
{% if site.config.template_options.slider_npcs == 'both' or site.config.template_options.slider_npcs == 'cs' %}
    {{ include('helper/blocks/home-movie-slider-block.twig',
        {   movies: movies.cs,
            class: 'coming-soon',
            tab: tab_index,
            show_titles: site.config.template_options.slider_title
        })
    }}
{% endif %}
<div class="view-all-movies-container">
    <a href="/movies">View all Movies</a>
</div>