<input type="checkbox" id="nav-trigger" />
<header id="site-header" class="cbw clearfix">
    <div id="header-content" class="clearfix">
        <div class="header-top">
            <a href="/" id="logo-home-link"><img src="/assets/img/logo.svg" id="header-logo" alt="Logo for {{ site.config.title }}"/></a>


        </div>
        <div id="nav-block">
            <label for="nav-trigger">
                <div style="display: none">nav buttons</div>
                <div class="menu-button">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </label>
            <nav id="top-nav" class="clearfix">
                <span class="mobile-title">Menu</span>
                {{- include('parts/pages_top_nav.twig') -}}
                <div id="site-social-icons">
                    {{ include('helper/social_media.twig', {icons: this_page.header.social_icons}, false) }}
                </div>
            </nav>
        </div>
    </div>
</header>