{% block content %}
    <div id="wrapper">
        <main id="main-content" class="clearfix">
            
                <div class="width-wrapper">
                    <div id="fxp-content">
                        <span class="alt-text">
                            <h1>Events promotions</h1>
                        </span>
                        <div class="events">
                            <div class="event-item">
                                <div class="event-banner">
                                    <img src="/assets/img/event-first-fridays.png" alt="Event first fridays"/>
                                </div>
                                <div class="events-title">
                                    <h2>
                                        HP VILLAGE THEATRE'S<br/>
                                        FIRST FRIDAYS
                                    </h2>
                                </div>
                                <div class="event-info">
                                    <div class="event-date">August 3, 2018</div>
                                    <div class="description">
                                        Grab your friend and head to the movies this spring. Beginning this March,
                                        purchase one adult movie ticket and receive the second free at Highland Park
                                        Village Theatre.
                                    </div>
                                </div>
                                <div class="order-container">
                                    <a href="/assets/files/first-friday-coupon.pdf" class="button" target="_blank">
                                        View Offer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </main>
    </div>
{% endblock %}