{% block content %}
    <div id="wrapper">
        <main id="main-content" class="clearfix">

                <div class="width-wrapper">
                    <div id="fxp-content">
                        <div class="custom-letterbox the-prefect-gift">
                            <div class="letterbox-content">
                                <h1 class="letterbox-title">the Perfect gift</h1>
                                <p class="letterbox-text">Highland Park Village Theatre<br/> gift cards are great
                                    for<br/> any occasion!</p>
                                <p class="letterbox-text text-underline text-uppercase">Available at the box office.</p>
                            </div>
                            <img src="/assets/img/gift-page-content-banner.jpg" alt="THE PERFECT GIFT"/>
                        </div>
                    </div>
                </div>

        </main>
    </div>
{% endblock %}