{% block content %}
    <div id="wrapper">

        <main id="main-content" class="clearfix">
                <div class="width-wrapper">
                    <div id="fxp-content">
                        <div class="page-banner">
                            <img src="/assets/img/theatre-image.jpg" alt="The Village Theatre"/>
                        </div>
                        <div class="blocks">
                            <h1>
                                THE THEATRE
                            </h1>
                        </div>
                        <div class="theatre-article article">
                            <p>
                                In 1934, Karl Hoblitzelle set out to build his first-ever luxury suburban theatre. While
                                the façade was designed to perfectly complement the center’s Spanish architecture,
                                a spire was created to represent a Moorish tent. Boasting 1,350 seats with hand-painted
                                murals depicting the history of Texas, the interior exuded extravagance with
                                textiles like the terrazzo floor and heavy oak doors. Eight decades and counting, the
                                theatre is still showing the most acclaimed films for all generations to enjoy,
                                and remains an integral part of our community.
                            </p>
                        </div>
                    </div>
                </div>
        </main>
        <div class="contact-information-container">
            <div class="fixed-width">
                <div class="row">
                    <div class="left">
                        <div class="inner">
                            <h2>VISIT THE THEATRE</h2>
                            <p class="address-info">
                                32 highland park village,<br/>
                                Dallas, TX 75205<br/>
                                Office line: 214.443.6035<br/>
                                Movie line: 214.443.0222<br/>
                            </p>
                            <div class="prices-container">
                                <div class="title">Prices</div>
                                <div class="line">
                                    <span class="key">Adults
                                        <span>12+</span></span>
                                    <span class="val">$12.00</span>
                                </div>
                                <div class="line">
                                    <span class="key">Children
                                        <span>2-11</span>
                                    </span>
                                    <span class="val">$9.00</span>
                                </div>
                                <div class="line">
                                    <span class="key">Seniors
                                        <span>65+</span>
                                    </span>
                                    <span class="val">$9.00</span>
                                </div>
                                <div class="line">
                                    <span class="key">Students
                                        <span>with valid student id</span>
                                    </span>
                                    <span class="val">$9.00</span></div>
                                <div class="line">
                                    <span class="key">Matinee</span>
                                    <span class="val">$8.50</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div id="map" style="width:674px; height:400px" ;>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3352.345246345346!2d-96.80870768431794!3d32.83610938095421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9eee4660094b%3A0x4d49ede0023259e0!2zMzIgSGlnaGxhbmQgUGFyayBWaWxsYWdlLCBEYWxsYXMsIFRYIDc1MjA1LCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1522092178869"
                                    width="100%" height="100%" frameborder="0" style="border:0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-width">
            <div class="blocks">
                <div class="block-title">
                    <h2>AmenitieS</h2>
                </div>
                <div class="row amenities-container">
                    <div class="col-3 item">
                        <div class="icon">
                            <img src="/assets/img/valet-icon.png" alt="free valet service"/>
                        </div>
                        <div class="name">free valet service</div>
                    </div>
                    <div class="col-3 item">
                        <div class="icon">
                            <img src="/assets/img/wine-icon.png" alt="lounge & bar"/>
                        </div>
                        <div class="name">lounge & bar</div>
                    </div>
                    <div class="col-3 item">
                        <div class="icon">
                            <img src="/assets/img/curtain-icon.png" alt="2 large auditoriums"/>
                        </div>
                        <div class="name">2 large auditoriums</div>
                    </div>
                    <div class="col-3 item">
                        <div class="icon">
                            <img src="/assets/img/move-reel-icon.png" alt="private screening"/>
                        </div>
                        <div class="name">private screening</div>
                    </div>
                </div>
            </div>
            <div class="promotions-block blocks">
                <div class="banners">
                    <figure class="banner">
                        <a href="/private-screening" target="_self">
                            <img src="/assets/img/private-screening-room.jpg" alt="Private screening room"/>
                        </a>
                    </figure>
                    <figure class="banner">
                        <a href="/gift-cards" target="_self">
                            <img src="/assets/img/the-perfect-gift.jpg" alt="Jump for joy"/>
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}