<div class="newsletter-form-container">
    <h2>ALWAYS BE IN THE KNOW</h2>
    <p>SUBSCRIBE TO THE HIGHLAND PARK VILLAGE THEATRE NEWSLETTER</p>
    <div id="newsletter-form">
        <form action="#">
            <input aria-label="newsletter form" type="text" name="txt_email_address" value=""
                   placeholder="Enter email address"/>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
