<ul>
    <li><a href="/movies">Movies & Showtimes</a></li>
    <li><a href='/about'>The Theatre</a></li>
    <li><a href='/gift-cards'>Gift Cards</a></li>
    <li><a href='/private-screening'>Events & Promotions</a></li>
    <li><a href='/page/9713/employment'>Employment</a></li>
    <li><a href='/page/14100/DMCA'>DMCA</a></li>
</ul>