<footer id="site-footer">
	<div id="footer-content" class="clearfix">
		<nav id="bottom-nav" class="clearfix">
			<ul>
            	{{ include('parts/pages_bottom_nav.twig') }}
			</ul>
		</nav>
	</div>
	<div id="powered-container">
		<a href="https://company.boxoffice.com/">
			<img id="PoweredRight" src="https://movienewsletters.net/poweredby/boxoffice/light.svg" height="36" width="auto" alt="Powered by The Boxoffice Company">
		</a>
	</div>
</footer>