<div class="smart-banner" style="top: 0;">
    <div class="sb-container">
        <a href="#" class="close-button">&times;</a>
        <span class="app-icon"></span>
        <div class="app-description">
            <strong><%=localize.smartBannerAppName %></strong>
            <span><%=localize.smartBannerAppDeveloper %></span>
            <span><%=localize.smartBannerAppPrice %></span>
        </div>
        <a href="#" class="view-button">
            <span><%=localize.smartBannerButtonTitle %></span>
        </a>
    </div>
</div>