<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="../css/ncr-styles.css" rel="stylesheet" type="text/css" />
    <link href="../css/general.css" rel="stylesheet" />
</head>
<body>
    <div class="browserSupportContainer">
        <div class="browserWarning">
            <h3 class="topInfo">Did you know that your Internet Explorer is out of date?</h3>
            <h3 class="bottomInfo">To get the best possible experience using our website we recommend that you upgrade to a newer version or other web browser. A list of the most popular web browser can be found below:</h3>
            <img src="../img/CompatibilityBrowsers.png" alt='' />
        </div>
    </div>
</body>
</html>

