<div class="modal hide fade" id="concession-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><%=headerTitle%></h3>
    </div>

    <div class="modal-body">
        
        
    </div>
    <div class="modal-footer">
            <button id="btn-concession-cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button id="btn-concession-save" class="btn btn-inverse" data-loading-text="Next">Next</button>
        </div>
</div>
