<title>Add a Loyalty Card</title>
<div class="container" id="index-title">
    <div class="title-container">
        <div class="title-container-left">
            <h1 id="header-title">Add a Loyalty Card</h1>
        </div>
        <div class="title-container-right">
        
        </div>
    </div>
</div>
<div class="container-fluid main-container">
    <h3>Enter the information from your Loyalty card</h3>
    <div id="error-panel" class="container"></div>
    <br/>
    <form id="frm-loyaltycard-add"  class="form-horizontal">  
        <fieldset>
            <div class="control-group">  
                <label class="control-label" for="loyaltycardnumber">Loyalty Card Number:</label>  
                <div class="controls">  
                    <input type="text" class="input-xlarge number" id="loyaltycardnumber" name="loyaltycardnumber" required minlength="9" maxlength="9"/> 
                </div>  
            </div>
            <div style="padding-left: 180px">  
                <input id="btn-manage-account"  type="button" class="btn btn-primary btn-large" value="Open Account Profile"  />
            </div>  
        </fieldset>  
    </form>

    <br/>
    <br/>
    
    <h3>Don't have a card?</h3>
    <br/>
    <div style="padding-left: 180px">  
        <input id="btn-get-card"  type="button" class="btn btn-large" style="width: 150px" value="Get a card"  />
    </div>
    <br/>
    <br/>
</div>
