<div class="modal hide fade" id="promotions-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            x</button>
        <h3><%= window.ObjectCollections.Localization.result.promotions %></h3>
    </div>
    <div style="text-align: center;">
        <img src="/assets/files/ncr-content/img/arrow-left.png" class="arrows prev-arrow" />
        <div class="promotion-container">
            <img class="promotion-item" src="<%=promotion %>" />
        </div>
        <img src="/assets/files/ncr-content/img/arrow-right.png" class="arrows next-arrow" />
    </div>

</div>
