<div id="explanationModal">
<p>For your safety and security, we require that you enter your credit card's security code. This information will only be used to verify your credit card and will not be saved.</p>
   <h5>Visa or MasterCard</h5>
    <div><img src="/assets/files/ncr-content/img/visaExplain.png" /></div>
    <p>The security code is a three-digit number printed on the back of your card. It appears to the right of your card number.</p>

    <h5>American Express</h5>
    <div style="margin-bottom:3px"><img src="/assets/files/ncr-content/img/americanExpressExplain.png" /></div>
    <p>The Card Identification Number is a four-digit, non-embossed (flat) number that is printed on every American Express Card.
    The number is ALWAYS located ABOVE the embossed (raised) account number on the face of the card. In some instances, it is located
    on the left side of the card, but always above the account number.</p>

</div>
