<h3><strong>G - GENERAL AUDIENCES</strong><br/>
    <em>All Ages Admitted</em></h3>

<p style="margin-left: 40px;">A G-rated motion picture contains nothing in theme, language, nudity, sex, violence or other matters that, in
    the view of the Rating Board, would offend parents whose younger children view the motion picture. The G rating is not a &ldquo;certificate
    of approval,&rdquo; nor does it signify a &ldquo;children&rsquo;s&rdquo; motion picture. Some snippets of language may go beyond polite
    conversation but they are common everyday expressions. No stronger words are present in G-rated motion pictures. Depictions of violence
    are minimal. No nudity, sex scenes or drug use are present in the motion picture.<br/>
</p>

<hr/>
<h3><br/>
    <strong>PG &nbsp;PARENTAL GUIDANCE SUGGESTED</strong><br/>
    <em>Some material may not be suitable for children</em></h3>

<p style="margin-left: 40px;">A PG-rated motion picture should be investigated by parents before they let their younger children attend. The
    PG rating indicates, in the view of the Rating Board, that parents may consider some material unsuitable for their children, and parents
    should make that decision.<br/>
    The more mature themes in some PG-rated motion pictures may call for parental guidance. There may be some profanity and some depictions
    of violence or brief nudity. But these elements are not deemed so intense as to require that parents be strongly cautioned beyond the
    suggestion of parental guidance. There is no drug use content in a PG-rated motion picture.<br/>
</p>

<hr/>
<h3><br/>
    <strong>PG-13 -&nbsp;PARENTS STRONGLY CAUTIONED. </strong><br/>
    <em>Some material may be inapropriate for children under 13.</em></h3>

<p style="margin-left: 40px;">A PG-13 rating is a sterner warning by the Rating Board to parents to determine whether their children under
    age 13 should view the motion picture, as some material might not be suited for them. A PG-13 motion picture may go beyond the PG rating
    in theme, violence, nudity, sensuality, language, adult activities or other elements, but does not reach the restricted R category. The
    theme of the motion picture by itself will not result in a rating greater than PG-13, although depictions of activities related to a
    mature theme may result in a restricted rating for the motion picture. Any drug use will initially require at least a PG-13 rating. More
    than brief nudity will require at least a PG-13 rating, but such nudity in a PG-13 rated motion picture generally will not be sexually
    oriented. There may be depictions of violence in a PG-13 movie, but generally not both realistic and extreme or persistent violence. A
    motion picture&rsquo;s single use of one of the harsher sexually-derived words, though only as an expletive, initially requires at least
    a PG-13 rating. More than one such expletive requires an R rating, as must even one of those words used in a sexual context. The Rating
    Board nevertheless may rate such a motion picture PG-13 if, based on a special vote by a two-thirds majority, the Raters feel that most
    American parents would believe that a PG-13 rating is appropriate because of the context or manner in which the words are used or
    because the use of those words in the motion picture is inconspicuous.<br/>
</p>

<hr/>
<h3><br/>
    <strong>R -&nbsp;RESTRICTED. </strong><br/>
    <em>Children under 17 require accompanying parent or legal guardian.</em></h3>

<p style="margin-left: 40px;">An R-rated motion picture, in the view of the Rating Board, contains some adult material. An R-rated motion
    picture may include adult themes, adult activity, hard language, intense or persistent violence, sexually-oriented nudity, drug abuse or
    other elements, so that parents are counseled to take this rating very seriously. Children under 17 are not allowed to attend R-rated
    motion pictures unaccompanied by a parent or adult guardian. Parents are strongly urged to find out more about R-rated motion pictures
    in determining their suitability for their children. Generally, it is not appropriate for parents to bring their young children with
    them to R-rated motion pictures.<br/>
</p>

<hr/>
<p style="text-align: center;">
    <span style="font-size:10px;">for more informatrion please visit&nbsp;http://www.mpaa.org</span>
</p>
