<figure class="banner">
    <a href='/gift-cards' target='_self'>
        <img src='/assets/img/the-perfect-gift.jpg' alt='The perfect gift'/>
    </a>
</figure>
<figure class="banner">
    <a href='/private-screening' target='_self'>
        <img src='/assets/img/private-screening-room.jpg' alt='First Friday Free Ticket'/>
    </a>
</figure>
