* {
    -webkit-box-sizing: -webkit-border-box;
    -moz-box-sizing: -moz-border-box;
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: #394050;
}

::-moz-placeholder {
    color: #394050;
}

:-ms-input-placeholder {
    color: #394050;
}

:-moz-placeholder {
    color: #394050;
}

body {
    color: #3b3f4f;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    background-repeat: no-repeat;
    background-position: top center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f3f0ea;
}

a {
    color: #3b3f4f;
    font-family: Poppins;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, sans-serif;
}

h1 {
    font-size: 31px;
    line-height: 32px;
}

h2 {
    font-size: 18px;
    line-height: 30px;
}

input, select, button, a {
    outline: none;
}

select {
    min-width: 240px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    font-family: Poppins, sans-serif;
    font-size: 21px;
    line-height: 31px;
    padding: 0 10px;
}

select::placeholder {
    color: #C4C4C4;
}

button {
    color: #FFFFFF;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

svg {
    pointer-events: none;
}

img.svg {
    display: none;
}

.clearfix {
    zoom: 1;
    clear: both;
}

.fixed-width {
    width: 92%;
    max-width: 1280px;
    margin: 0 auto;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

#header-content,
#main-content,
#footer-content {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

#main-content {
    overflow: hidden;
}

#social-icons a {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 14px;
}

#social-icons a:last-child {
    margin-right: 0;
}

#social-icons a img,
#social-icons a svg {
    width: 20px;
    height: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#social-icons a svg path {
    fill: #3e4150 !important;
}

.slick-list .slick-slide {
    outline: none;
}

.slick-prev {
    left: 0;
}

.slick-prev:before {
    content: url(/assets/img/icon-arrow-left.svg);
}

.slick-next {
    right: 0;
}

.slick-next:before {
    content: url(/assets/img/icon-arrow-right.svg);
}

.slick-prev-custom,
.slick-next-custom {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 998;
    top: calc(50% - 12px);
    cursor: pointer;
}

.slick-prev-custom {
    left: 0;
}

.slick-next-custom {
    right: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666666%;
}

.col-12 {
    width: 100%;
}

.separator {
    font-size: 12px;
}

/*---------------------*/
/*  AJAX Loader Start  */
/*---------------------*/

@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Loading animation container */
.loading {
    position: relative;
    background-color: #f3f0ea;
    border-radius: 50px;
    width: 104px;
    height: 104px;
    margin: 20px auto 0;
}

.loading .spinner {
    position: absolute;
    left: 8px;
    top: 5px;
    width: 90px;
    height: 90px;
    animation: spin 2s infinite linear;
}

.loading .mask {
    width: 42px;
    height: 42px;
    overflow: hidden;
}

.loading .maskedCircle {
    width: 104px;
    height: 104px;
    border-radius: 42px;
    border: 3px solid #3b3f4f;
}

.loading.small {
    width: 52px;
    height: 52px;
    margin: 0 auto;
}

.loading.small .spinner {
    left: 4px;
    top: 2.5px;
    width: 45px;
    height: 45px;
}

.loading.small .mask {
    width: 21px;
    height: 21px;
}

.loading.small .maskedCircle {
    width: 52px;
    height: 52px;
    border-radius: 21px;
}

/***************** HEADER *****************/

#site-header {
    position: relative;
}

#header-content {
    display: table;
    position: relative;
    padding-bottom: 22px;
}

#header-content .header-top {
    width: 100%;
    text-align: center;
    position: relative;
}

#header-content #logo-home-link {
    display: inline-block;
    position: relative;
    top: 30px;
}

#header-content #site-social-icons {
    position: absolute;
    bottom: 60px;
    right: 0;
}

#header-logo {
    max-width: 90%;
    width: 365px;
}

#nav-block {
    float: right;
    margin-top: 56px;
}

#nav-trigger {
    display: none;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

#nav-trigger ~ #wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

label[for="nav-trigger"] {
    display: none;
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
    width: 52px;
    height: 52px;
    z-index: 99999;
}

label[for="nav-trigger"] #close {
    display: none;
}

label[for="nav-trigger"] #hamburger,
label[for="nav-trigger"] #close {
    width: 52px;
    height: 52px;
}

label[for="nav-trigger"] svg#hamburger path,
label[for="nav-trigger"] svg#close path {
    fill: #394050;
}

#top-nav {
    float: right;
    text-align: center;
}

#top-nav,
#top-nav a {
    font-size: 12px;
    font-family: Poppins;
    text-transform: uppercase;
    color: #3b3f4f;
    letter-spacing: 1.4px;
    font-weight: 400;
}

#top-nav > ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

#top-nav .mobile-title {
    display: none;
}

#top-nav > ul > li {
    position: relative;
    display: inline-block;
    width: 14%;
    border-bottom: 0;
    margin: 0;
}

#top-nav > ul > li:nth-child(2) {
    margin-right: 35%;
}

#top-nav > ul > li > a {
    display: block;
    opacity: 1;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}

#top-nav > ul > li > a > span {
    border-bottom: 1px solid transparent;
}

#top-nav > ul > li > a > * {
    vertical-align: middle;
}

#top-nav > ul > li.current > a > span {
    border-bottom-color: #3b3f4f;
}

#top-nav > ul > li > a > .icon {
    display: none;
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

#top-nav > ul > li:hover > a {
    opacity: 0.8;
}

#top-nav > ul > li:hover a {
    color: #3b3f4f;
}

#top-nav > ul > li:first-child {
    margin-left: 0;
}

#top-nav > ul > li:last-child {
    margin-right: 0;
}

#top-nav > ul > li:last-child a {
    text-align: right;
}

#top-nav ul li.sub-nav-container {
    position: relative;
}

#top-nav ul li.sub-nav-container ul.sub-nav {
    display: none;
    position: absolute;
    left: 50%;
    padding: 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    min-width: 100%;
    z-index: 9999;
}

#top-nav ul li.sub-nav-container ul.sub-nav li a {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

#top-nav ul li.sub-nav-container ul.sub-nav li {
    font-size: 18px;
    line-height: 30px;
    white-space: nowrap;
}

#top-nav ul li.sub-nav-container ul.sub-nav li.sub-header {
    margin: 5px;
}

#top-nav ul li.sub-nav-container:hover ul.sub-nav {
    display: block;
}

#top-nav > ul > li.has-dropdown-menu > a {
    position: relative;
}

#top-nav > ul > li.has-dropdown-menu .dropdown-menu {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    background-color: #f4f0ea;
    text-align: left;
    padding: 10px 20px;
    margin-top: 4px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}

#top-nav > ul > li.has-dropdown-menu .dropdown-menu a {
    text-transform: none;
    letter-spacing: 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    opacity: 1;
}

#top-nav > ul > li.has-dropdown-menu .dropdown-menu li {
    padding: 3px 0;
}

#top-nav > ul > li.has-dropdown-menu .dropdown-menu li:hover a {
    opacity: 0.8;
}

#top-nav > ul > li.has-dropdown-menu:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    opacity: 0.8;
    z-index: 999;
}

/* header version 2 (lrw - L = logo Left; R = Nav Right; W = With social icon;) */
#site-header.lrw #header-content {
    margin-top: 24px;
}

#site-header.lrw #header-content #site-social-icons {
    display: block;
}

#site-header.lrw #header-content #nav-block {
    margin-top: 24px;
    clear: right;
}

/* header version 3 (csn - C = logo Center; S = nav Split; N = No social;) */
#site-header.csn #header-content #logo-home-link {
    position: absolute;
    left: calc(50% - 78px);
    margin-left: 0;
}

#site-header.csn #header-content #nav-block {
    width: 100%;
}

#site-header.csn #header-content #nav-block #top-nav {
    float: none;
}

#site-header.csn #header-content #nav-block #top-nav > ul > li.csn-logo-after {
    margin-right: 108px;
}

#site-header.csn #header-content #nav-block #top-nav > ul > li.csn-logo-after + li {
    margin-left: 108px;
}

/* header version 4 (cbw - C = logo Center; B = nav Bottom; W = With social icon;) */
/* header version 5 (lbw - L = logo Left; B = nav Bottom; W = With social icon;) */
/* header version 6 (cbn - C = logo Center; B = nav Bottom; N = No social;) */
#site-header.cbw #header-content,
#site-header.lbw #header-content,
#site-header.cbn #header-content {
    margin-bottom: 0;
}

#site-header.cbw #header-content #logo-home-link,
#site-header.cbn #header-content #logo-home-link {

}

#site-header.cbw #header-content #site-social-icons,
#site-header.lbw #header-content #site-social-icons {
    display: block;
}

#site-header.cbw #header-content #nav-block,
#site-header.lbw #header-content #nav-block,
#site-header.cbn #header-content #nav-block {
    width: 100%;
    margin-top: 10px;
}

#site-header.cbw #header-content #nav-block #top-nav,
#site-header.lbw #header-content #nav-block #top-nav,
#site-header.cbn #header-content #nav-block #top-nav {
    float: none;
}

#site-header.cbw #header-content #nav-block #top-nav > ul > li,
#site-header.lbw #header-content #nav-block #top-nav > ul > li,
#site-header.cbn #header-content #nav-block #top-nav > ul > li {

}

/***************** CONTENT *****************/

/* blocks */
.blocks {
    overflow: hidden;
    margin: 0 0 20px;
    width: 100%;
}

.blocks > h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Didot;
    font-size: 48px;
    letter-spacing: 1.2px;
    padding: 5px 0 50px 0;
    margin-bottom: 25px;
}

.blocks:first-child {
    margin-top: 40px;
}

#coming-soon-block {
    margin-top: 55px;
    margin-bottom: 100px;
}
#movies-dots {
    height: 15px;
}
#movies-dots:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 144px;
    color: #e0d9cc;
    background-image: url("/assets/img/dotted-line.svg");
    background-position: 0 0;
    background-color: transparent;
    background-repeat: repeat-x;
    background-size: auto 180px;
}
#showtimes-container > h2,
.blocks > h2,
#coming-soon-block > h2,
.movies-coming-soon > h2 {
    color: #404553;
    font-family: 'Didot';
    text-transform: uppercase;
    text-align: center;
    font-size: 49px;
    font-weight: 400;
    line-height: 48px;
    padding: 0 0 25px 0;
    margin-bottom: 44px;
}

#showtimes-container > h2,
.movies-coming-soon > h2 {
    border-bottom: 0;
    margin-bottom: 22px;
}

/* Slider */
#content-slider {
    position: relative;
    overflow: visible;
}

#content-slider .slick-prev-custom,
#content-slider .slick-next-custom {
    top: calc(50% - 24px);
}

#content-slider .slick-prev-custom,
#content-slider .slick-prev-custom svg,
#content-slider .slick-next-custom,
#content-slider .slick-next-custom svg {
    width: 48px;
    height: 48px;
}

.slick-dots li {
    width: 12px;
    height: 12px;
    margin: 0 3px;
}

.slick-dots li button {
    padding: 0;
}

.slick-dots li button:before {
    content: '';
    border: 1px solid #908d8c;
    border-radius: 50%;
    font-size: 16px;
    opacity: 1;
    width: 12px;
    height: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    background-color: transparent;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
    border-color: #ceb479;
    background-color: #ceb479;
}

#content-slider .slide {
    position: relative;
}

#content-slider .slide img {
    width: 100%;
    min-height: 150px;
}

#content-slider .slide .slider-text {
    position: absolute;
    color: #FFFFFF;
    bottom: 17px;
    left: 17px;
    text-shadow: 0px 0px 5px #000000;
}

#coming-soon-slider .slide img {
    width: 100%;
    min-height: 150px;
}

/* Showtimes */
#showdates {
    display: inline-block;
    width: 100%;
    max-width: 840px;
    margin-right: 25px;
}

#showdates > .slick-arrow + .slick-list {
    width: calc(100% - 80px);
    margin: 0 40px;
}

#showdates .slick-list:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

}

#showdates:not(.slick-slider-last-active) .slick-list:after {
    width: 50px;
    transition: width 300ms ease-in-out;
}

#showdates .slick-list .slick-slide {
    overflow: hidden;
    background: none;
    border-radius: 0;
    font-size: 12px;
    line-height: 18px;
    border: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer;
    color: #3b3f4f;
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

#showdates .slick-list .slick-slide:after {
    content: '';
    display: block;
    position: absolute;
    top: 5%;
    right: 0;
    width: 0;
    height: 80%;
    border-right: 1px solid #3b3f4f;
}

#showdates .slick-list .slick-slide span.top {
    display: inline-block;
    width: 100%;
}

#showdates .slick-list .slick-slide span.bottom {
    display: inline-block;
    width: auto;
    font-family: Didot;
    font-size: 28px;
    line-height: 33px;
    margin-top: 4px;
    padding-bottom: 5px;
}

#showdates .slick-list .slick-slide.no_showdates {
    border: none;
    overflow: visible;
    cursor: default;
}

#showdates .slick-list .slick-slide.showdate-selected {
    color: #f47846;
}

#showdates .slick-list .slick-slide.showdate-selected span.bottom {
    border-bottom: 2px solid #f47846;
}

#calendar {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    height: 43px;
    width: 43px;
}

#calendar #datepicker {
    background: url(/assets/img/calendar-icon.svg) no-repeat center center transparent;
    background-size: 43px 43px;
    height: 100%;
    width: 100%;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}

.ui-datepicker {
    z-index: 9999 !important;
}

.ui-datepicker .ui-datepicker-header {
    background: none !important;
    border: none !important;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 6px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    background-position: 0;
    margin: 0;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev span {
    background-image: url(/assets/img/icon-arrow-left-black.svg);
}

.ui-datepicker .ui-datepicker-next span {
    background-image: url(/assets/img/icon-arrow-right-black.svg);
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover, .ui-button:focus {
    background: no-repeat;
    border: none;
}

.ui-datepicker td {
    padding: 0;
}

.ui-datepicker td span,
.ui-datepicker td a {
    text-align: center;
}

.ui-datepicker th {
    color: #A0A0A0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
    background-image: none;
    font-size: 21px;
    line-height: 26px;
    padding: 5px 0;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: 1;
}

span.ui-state-default {
    background-color: #F5F5F5 !important;
    color: #DEDEDE !important;
}

a.ui-state-default {
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

a.ui-state-default.ui-state-active {
    background-color: #0089EC !important;
    color: #FFFFFF !important;
}

.ui-datepicker .ui-datepicker-buttonpane {
    border: none;
    text-align: center;
    margin: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    background: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    opacity: 1;
    float: none !important;
}

#filter {
    display: none;
    margin: 16px 0 20px 5px;
}

#filter .name {
    display: inline-block;
    width: 53px;
    font-family: Poppins, sans-serif;
    vertical-align: middle;
}

#filter .filters {
    display: inline-block;
    width: calc(100% - 53px);
    vertical-align: middle;
}

#filter .filters .filter {
    display: none;
    height: 32px;
    width: 124px;
    margin: 0 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

#showtimes.home-page {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    width: 102%;
    margin: 0 0 0 -1%;
}

#showtimes .showtimes-details,
#showtimes .coming-soon-details {
    position: relative;
    border-radius: 2px;
    width: 100%;
    margin: 0 0 45px;
    background-color: #ebe6dd;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

#showtimes .showtimes-details .inner,
#showtimes .coming-soon-details .inner{
    padding: 10px 10px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
}

#showtimes .showtimes-details .bottom,
#showtimes .coming-soon-details .bottom {
    position: relative;
    padding: 0 10px 0 76%;
    width: 100%;

}
#showtimes .showtimes-details .bottom {
    display: none;
}

#showtimes.home-page .showtimes-details .bottom,
#showtimes.home-page .coming-soon-details .bottom {
    display: block;
    width: 100%;
    padding: 0;
}

#showtimes.home-page .showtimes-details,
#showtimes.home-page .coming-soon-details {
    width: 23%;
    margin: 0 1% 20px;
    padding-bottom: 60px;
}

#showtimes .showtimes-details .poster,
#showtimes .coming-soon-details .poster {
    position: relative;
    display: inline-block;
    width: 18%;
    line-height: 0;
}

#showtimes.home-page .showtimes-details .poster,
#showtimes.home-page .coming-soon-details .poster{
    width: 100%;
}

#showtimes .showtimes-details .poster a,
#showtimes .showtimes-details .poster img,
#showtimes .showtimes-details .poster a img,
#showtimes .coming-soon-details .poster a,
#showtimes .coming-soon-details .poster img,
#showtimes .coming-soon-details .poster a img {
    width: 100%;
}

#showtimes .showtimes-details .poster a,
#showtimes .coming-soon-details .poster a {
    line-height: 0;
}

#showtimes .showtimes-details .poster .mobile,
#showtimes .coming-soon-details .poster .mobile {
    display: none;
}

#showtimes .showtimes-details .poster i.icon-info,
#showtimes .coming-soon-details .poster i.icon-info{
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
}

#showtimes .showtimes-details .poster i.icon-info:before,
#showtimes .coming-soon-details .poster i.icon-info:before {
    content: url(/assets/img/icon-info.svg);
}

#showtimes .showtimes-details .info,
#showtimes .coming-soon-details .info {
    display: inline-block;
    width: 57%;
    vertical-align: top;
    margin: 0 0;
    padding: 0 20px 60px 65px;
    position: relative;
    overflow: hidden;
    color: #3b3f4f;
    border-right: 1px solid #3b3f4f;
}

#showtimes.home-page .showtimes-details .info,
#showtimes.home-page .coming-soon-details .info {
    width: 100%;
    text-align: center;
    padding: 0 0;
    border-right: 0;
}

#showtimes .bottom-trailer-container {
    position: absolute;
    bottom: 0;
    left: 65px;
}

#showtimes .mpaa-title {
}

#showtimes .mparuntime-title {
}

#showtimes.home-page .mpaa-title,
#showtimes.home-page .mparuntime-title {
    display: none;
}

#showtimes .showtimes-details .info .trailer,
#showtimes .coming-soon-details .info .trailer {
    display: inline-block;
    color: #ffffff;
    background-color: #394050;
    width: 216px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-family: Poppins;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 20px;
    font-size: 12px;
}

#showtimes.home-page .showtimes-details .info .trailer,
#showtimes.home-page .coming-soon-details .info .trailer {
    display: none;
}

#showtimes .showtimes-details .info .name,
#showtimes .coming-soon-details .info .name {
    font-size: 30px;
    font-family: TeXGyreBonum;
    font-weight: 400;
    color: #3b3f4f;
    line-height: 46px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#showtimes.home-page .showtimes-details .info .name,
#showtimes.home-page .coming-soon-details .info .name {
    line-height: 24px;
    margin: 24px 0 16px;
    overflow: hidden;
    height: 60px;
    letter-spacing: 0.8px;
}

#showtimes .showtimes-details .info .name a,
#showtimes .coming-soon-details .info .name a {
    font-size: 20px;
    font-weight: 400;
    font-family: TeXGyreBonum;
    line-height: 26px;
}

#movies #showtimes .showtimes-details .info .name a,
#movies #showtimes .coming-soon-details .info .name a {
    font-size: 30px;
}

#movies #showtimes .movie-info {
    margin-bottom: 14px;
}

#showtimes .showtimes-details .info .mpaa,
#showtimes .coming-soon-details .info .runtime {
    font-size: 12px;
    letter-spacing: 1px;
    color: #3b3f4f;
    text-transform: uppercase;
    font-family: Poppins;
    font-weight: 400;
    line-height: 23px;
}

#showtimes .showtimes-details .info .mpaa,
#showtimes .coming-soon-details .info .runtime {
    display: inline-block;
    width: 100%;
}

#showtimes.home-page .showtimes-details .info .mpaa,
#showtimes.home-page .coming-soon-details .info .runtime {
    font-weight: 500;
    letter-spacing: 1.5px;
    display: inline;
}

#showtimes .showtimes-details .info .synopsis,
#showtimes .coming-soon-details .info .synopsis {
    font-family: Poppins;
    font-weight: 400;
    color: #394050;
    margin-top: 5px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.05em;
}

#showtimes.home-page .showtimes-details .info .synopsis,
#showtimes.home-page .coming-soon-details .info .synopsis {
    display: none;
}

#showtimes.home-page .showtimes-details .info .read-more,
#showtimes.home-page .coming-soon-details .info .read-more {
    display: none;
}

#showtimes .showtimes-details .info a.more-details,
#showtimes .coming-soon-details .info a.more-details {
    float: right;
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 0 0 20px;
}

#showtimes .showtimes-details .showtimes,
#showtimes .coming-soon-details .showtimes {
    width: 25%;
    padding: 30px 3.4% 60px;
}

#showtimes .coming-soon-details .showtimes{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#showtimes .showtimes-details .showtimes .inner,
#showtimes .coming-soon-details .showtimes .inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

#showtimes.home-page .showtimes-details .showtimes,
#showtimes.home-page .coming-soon-details .showtimes {
    width: 100%;
    height: 100%;
    padding: 0 10%;
    text-align: center;
}
#movie .width-wrapper .showtimes-block h2,
#showtimes .showtimes-details .showtimes .showtimes-title,
#showtimes .coming-soon-details .showtimes .showtimes-title {
    font-family: Poppins;
    font-size: 12px;
    color: #3b3f4f;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    font-weight: 400;
}
#showtimes .coming-soon-details .showtimes .showtimes-title .p-date {
    display: inline-block;
    font-family: Didot;
    font-size: 28px;
    line-height: 33px;
    margin-top: 4px;
    padding-bottom: 5px;
}
#movie .width-wrapper .showtimes-block h2,
#showtimes.home-page .showtimes-details .showtimes .showtimes-title,
#showtimes.home-page .coming-soon-details .showtimes .showtimes-title {
    font-weight: 500;
}

#main-content.left #showtimes .showtimes-details,
#main-content.right #showtimes .showtimes-details,
#main-content.left #showtimes .coming-soon-details,
#main-content.right #showtimes .coming-soon-details {
    padding: 10px;
}

#main-content.left #showtimes .showtimes-details .poster,
#main-content.right #showtimes .showtimes-details .poster,
#main-content.left #showtimes .coming-soon-details .poster,
#main-content.right #showtimes .coming-soon-details .poster {
    width: 150px;
}

#main-content.left #showtimes .showtimes-details .info,
#main-content.right #showtimes .showtimes-details .info,
#main-content.left #showtimes .coming-soon-details .info,
#main-content.right #showtimes .coming-soon-details .info {
    width: calc(100% - 180px - 366px);
    height: 229px;
}

#main-content.right #showtimes .showtimes-details .info .name,
#main-content.right #showtimes .coming-soon-details .info .name {
    font-size: 16px;
    line-height: 20px;
}

#showtimes .showtimes span.showtime,
#showtimes .showtimes a.showtime {
    display: inline-block;
    padding: 3px 0;
    width: 90px;
    height: 28px;
    line-height: 22px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-family: Poppins;
    color: #394050;
    text-transform: uppercase;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 0px;
    margin-bottom: 20px;

}

#showtimes.home-page .showtimes span.showtime.soldout,
#showtimes.home-page .showtimes a.showtime.soldout,
#showtimes.home-page .showtimes span.showtime.expired,
#showtimes.home-page .showtimes a.showtime.expired {
    color: #cdcac6;
    border-color: #cdcac6;
    cursor: default;
}

.showtimes .showtime.filtered {
    display: none;
}

.showtimes .showtime .time,
.showtimes .showtime .format {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

/* Promotions */
.promotions-block .banners {
    display: flex;
    justify-content: space-between;
}

.promotions-block .banners .banner {
    text-align: center;
}

.promotions-block .banners .banner:last-child {
    margin-right: 0;
}

.promotions-block .banners .banner a {
    display: inline-block;
    line-height: 0;
}

.promotions-block .banners .banner img {
    width: 100%;
}

/* Location Info */
.location_info-block {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 30px;
}

.location_info-block .content {
    display: table;
    width: 100%;
    height: 320px;
}

.location_info-block .content > div {
    display: table-cell;
}

.location_info-block .info {
    background-color: #8D8D8F;
    width: 320px;
    max-width: 320px;
}

.location_info-block .info .image {
    margin: 10px 5px;
    text-align: center;
}

.location_info-block .info .text {
    margin: 13px 10px 36px;
}

/* Sidebar positions */

/* sidebar top */
/* sidebar bottom */
#main-content.top .promotions-block,
#main-content.bottom .promotions-block {
    display: block;
}

/* sidebar right */
/* sidebar left */
#main-content.right .showtimes-block,
#main-content.left .showtimes-block,
#main-content.right .now_playing-block,
#main-content.left .now_playing-block,
#main-content.right .coming_soon-block,
#main-content.left .coming_soon-block,
#main-content.right .promotions-block,
#main-content.left .promotions-block {
    display: inline-block;
    vertical-align: top;
}

#main-content.right .showtimes-block,
#main-content.left .showtimes-block,
#main-content.right .now_playing-block,
#main-content.left .now_playing-block,
#main-content.right .coming_soon-block,
#main-content.left .coming_soon-block {
    width: calc(100% - 18px - 32.656%);
}

#main-content.left .promotions-block {
    margin-right: 18px;
}

#main-content.right .promotions-block {
    margin-left: 18px;
}

#main-content.right .promotions-block,
#main-content.left .promotions-block {
    width: 32.657%;
}

#main-content.right .showtimes-block,
#main-content.right .now_playing-block,
#main-content.right .coming_soon-block {
    float: left;
}

#main-content.left .showtimes-block,
#main-content.left .now_playing-block,
#main-content.left .coming_soon-block {
    float: right;
}

#main-content.left .promotions-block .banners .banner,
#main-content.right .promotions-block .banners .banner {
    width: 100%;
    float: none;
    margin: 0 0 20px;
}

#main-content.left .promotions-block .banners .banner:last-child,
#main-content.right .promotions-block .banners .banner:last-child {
    margin: 0;
}

.fixed-width .promotions-block .banners .banner,
#main-content .promotions-block .banners .banner {
    width: 49%;
}

/*** Home page ***/
#home-location .blocks:first-child {
    margin-top: 0;
}

#home-location .blocks:last-child {
    margin-bottom: 0;
}

/*** Movies page ***/
#movies #main-content {
    padding-top: 10px;
}

#movies #main-content .blocks:first-child,
#comingsoon #main-content .blocks:first-child{
    margin-top: 0;
}

#movies .now_playing-block,
#movies .coming_soon-block {
    margin: 0 0 10px 0;
}

#movies .now_playing-block h2,
#movies .coming_soon-block h2 {
    margin-bottom: 10px;
}

#movies .items {
    margin: -10px 0 0 -20px;
}

#movies .grid-poster {
    position: relative;
    display: inline-block;
    width: 196px;
    margin: 10px 0 0 20px;
    vertical-align: top;
}

#movies .grid-poster:last-child {
    margin-bottom: 0;
}

#movies .grid-poster .poster {
    position: relative;
    display: inline-block;
}

#movies .grid-poster .poster .mobile {
    display: none;
}

#movies .grid-poster .poster i.icon-info {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
}

#movies .grid-poster .poster i.icon-info:before {
    content: url(/assets/img/icon-info.svg);
}

#movies .grid-poster .info .mpaa_runtime {
    display: none;
}

#movies .grid-poster .info .name {
    font-size: 14px;
    line-height: 18px;
}

#movies .grid-poster .info .mpaa,
#movies .grid-poster .info .runtime {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
}

#movies .separator {
    display: none;
}

/*** Movie page ***/
#movie #movie-header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    height: 110px;
    padding: 5px 100px 5px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#movie #movie-header.play-video {
    cursor: pointer;
}

#movie #movie-header h1 {
    font-size: 18px;
    line-height: 20px;
}

#movie #movie-header .mpaa,
#movie #movie-header .runtime {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
}

#movie #movie-header h1,
#movie #movie-header .mpaa,
#movie #movie-header .runtime {
    text-shadow: 0 1px 5px #000000;
}

#movie #movie-header #play-trailer {
    position: absolute;
    right: 10px;
    top: calc(50% - 43px);
    width: 85px;
    height: 85px;
}

#movie #movie-header #play-trailer svg {
    width: 85px;
    height: 85px;
}

#movie #movie-header #play-trailer svg path {
    fill: #FFFFFF;
}

#movie #movie-video {
    display: none;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 9999;
}

#movie #movie-details {
    overflow: hidden;
    margin-bottom: 20px;
}

#movie #movie-details .poster {
    width: 32.5%;
    float: left;
    text-align: left;
}

#movie #movie-details .info {
    float: left;
    width: 66.5%;
    margin-left: 1%;
}

#movie #movie-details .info h1 {
    font-size: 45px;
    line-height: 56px;
    margin-bottom: 10px;
}

#movie #movie-details .info .detail {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

#movie #movie-stills .slick-slide {
    height: 250px;
    margin: 0 5px;
}

/*** Newsletter page ***/
#newsletter {
    width: 100%;
    height: 800px;
    display: block;
    margin: 0 auto;
}

/*** Error 404 page ***/
#error-404 {
    text-align: center;
}

/***************** FOOTER *****************/
#site-footer {
    color: #ffffff;
    background-color: #3b3f4f;
    text-align: center;
    padding: 48px 0 48px;
    font-family: 'Poppins';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 21px;
}

#site-footer .frow {
    display: flex;
    flex-wrap: wrap;
}

#site-footer .frow .fcol-1 {
    flex-basis: 23%;
}

#site-footer .frow .fcol-2 {
    flex-basis: 54%;
    margin: 0 0%;
}

#site-footer .frow .fcol-3 {
    flex-basis: 23%;
}

#site-footer .logo {
}

#site-footer .logo img {
    width: 302px;
}

#site-footer .copyright,
#site-footer .powered_by {
    margin-top: 20px;
}

#site-footer #bottom-nav {
    white-space: nowrap;
    margin-top: 15px;
}

#site-footer #bottom-nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#site-footer #bottom-nav > ul > li {
}

#site-footer #bottom-nav .category-name,
#site-footer #bottom-nav > ul > li a {
    font-size: 12px;
    color: #ffffff;
}

#site-footer #bottom-nav .category-name {
}

#site-footer #newsletter-form {
    margin-bottom: 20px;
}

#site-footer #newsletter-form input {
    width: 240px;
    height: 30px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    font-size: 22px;
    padding: 4px 10px;
}

#site-footer #newsletter-form input::placeholder {
    color: #C4C4C4;
}

#site-footer #newsletter-form button {
    position: relative;
    color: #FFFFFF;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    width: 119px;
    height: 40px;
    border: none;
    border-radius: 4px;
    margin-left: -8px;
    padding: 10px 38px 10px 10px;
    vertical-align: top;
    cursor: pointer;
}

#site-footer #newsletter-form button:after {
    content: url("/assets/img/icon-email.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    right: 8px;
    top: 8px;
}

/* footer version Compact */
#site-footer.compact {
    padding: 20px 0;
}

#site-footer.compact #footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#site-footer.compact #footer-content > div {
    margin: 0;
}

#site-footer.compact #footer-content > div.frow {
    flex-basis: calc(100% - 530px);
}

#site-footer.compact #footer-content > div.copyright {
    flex-basis: 380px;
}

#site-footer.compact #footer-content > div.powered_by {
    flex-basis: 150px;
}

#site-footer.compact .fcol-1 {
    flex-basis: 100%;
}

#site-footer.compact .fcol-2,
#site-footer.compact .fcol-3 {
    display: none;
}

#site-footer.compact #bottom-nav .category-name {
    font-family: inherit;
}

#site-footer.compact #bottom-nav > ul > li {
    flex-basis: 48%;
    text-align: left;
}

#site-footer.compact #bottom-nav > ul > li.bottom-nav-category > ul.sub-bottom-nav {
    display: none;
}

/* Movie formats color */
.filter {
    border-color: #303133;
}

.filter.active {
    background-color: #303133;
    color: #FFFFFF;
}

a.showtime {
    color: #303133;
    border: 1px solid #303133;
}

.filter.active {
    background-color: #303133;
    border-color: #303133;
}

a.showtime .format {
    color: #303133;
}

#showtimes a.showtime:not(.expired):not(.soldout):hover,
#showtimes a.showtime.active:not(.expired):not(.soldout),
a.showtime:not(.expired):not(.soldout):hover {
    background-color: #394050;
    border-color: #303133;
    color: #FFFFFF;
}

#showtimes a.showtime.active:not(.expired):not(.soldout) .format,
#showtimes a.showtime:hover:not(.expired):not(.soldout) .format {
    color: #FFFFFF;
}

.expired {
    color: #c1bdbd !important;
}

.instagram-block.blocks {
    margin-bottom: 0;
}

.instagram_wrapper {
}

.instagram_wrapper .instagram_title {
    text-align: center;
    color: #3b3f4f;
    font-family: 'Didot';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}

.instagram_wrapper .instagram_title .instagram_title_subitem {
    font-family: 'TeXGyreBonum';
    font-weight: 500;
    font-style: italic;
    font-size: 19px;
    text-transform: none;
    letter-spacing: 1.2px;
}

#instafeed {
    display: flex;
    align-items: center;
}

#instafeed a {
    line-height: 0;
}

.newsletter-block {
    background-color: #ebe6dd;
    color: #3b4050;
    margin-bottom: 48px;
}

.newsletter-form-container {
    text-align: center;
    margin: 46px 0 48px 0;
}

.newsletter-form-container p {
    font-family: 'Poppins';
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    font-weight: 400;
}

.newsletter-form-container h2 {
    font-family: 'Didot';
    font-size: 36.5px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#newsletter-form {
    margin-top: 30px;
    position: relative;
    width: 100%;
    max-width: 580px;
    margin: 30px auto 0;
}

#newsletter-form input[type="text"] {
    width: 100%;
    height: 48px;
    border: 0 none;
    background-color: #f3f0ea;
    padding: 0 20px;
    line-height: 48px;
    font-family: TeXGyreBonum;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.07em;
}

#newsletter-form button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
    background: none;
    text-indent: -5000px;
    overflow: hidden;
    transform: translate(0, -50%);
    width: 17px;
    height: 21px;
}

#newsletter-form button[type="submit"]:after {
    content: '';
    display: block;
    background: url(/assets/img/button-arrow.svg) no-repeat 0 0 transparent;
    background-size: 17px 21px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.weekday-container {
    margin: 0 0 48px 0;
    text-align: center;
}

.contact-information-container {
    background-color: #eae6dd;
    padding: 70px 0;
    margin-bottom: 48px;
}

.contact-information-container h2 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1.5px;
    font-family: Didot;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 14px;
}

#map {
    width: 100% !important;
    height: 100% !important;
}

.contact-information-container .left {
    width: 47%;
    text-align: center;
    padding-right: 1%;
}

.contact-information-container .left .inner {
    max-width: 410px;
    width: 100%;
    margin: 0 auto;
}

.contact-information-container .left .address-info {
    font-size: 12px;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
    line-height: 23px;
    text-transform: uppercase;
}

.contact-information-container .left .prices-container {
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 0.1em;
    font-size: 12px;
}

.contact-information-container .left .prices-container > div {
    padding: 2px 0;
}

.contact-information-container .left .prices-container .title {
    font-weight: 600;
}

.contact-information-container .left .prices-container .line {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.contact-information-container .left .prices-container .line:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 9px;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 2px dotted #3b3f4f;
}

.contact-information-container .left .prices-container .line .key {
    background-color: #eae6dd;
    position: relative;
    z-index: 2;
    padding-right: 2px;
}

.contact-information-container .left .prices-container .line .key span {
    font-family: TeXGyreBonum;
    font-style: italic;
    text-transform: none;
}

.contact-information-container .left .prices-container .line .val {
    font-weight: 400;
    background-color: #eae6dd;
    padding-left: 10px;
    position: relative;
    z-index: 2;
}

.contact-information-container .right {
    width: 53%;
    border: 2px solid #3b3f4f;
    line-height: 0;
}

.block-title h2 {
    font-family: Didot;
    font-size: 48px;
    color: #3b3f4f;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 34px;
    margin-bottom: 44px;
    letter-spacing: 2px;
    line-height: 48px;
}

.amenities-container {
    margin-bottom: 48px;
}

.amenities-container .item {
    text-align: center;
}

.amenities-container .item .icon {
    height: 134px;
    margin-bottom: 10px;
}

.amenities-container .item .name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.page-banner {
    text-align: center;
    margin-bottom: 48px;
}

.theatre-article {
    font-family: TeXGyreBonum;
    font-style: italic;
    font-weight: 400;
    max-width: 896px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.05em;
}

.events {
    text-align: center;
}

.event-item {
    text-align: center;
    margin-bottom: 45px;
    width: 100%;
    max-width: 894px;
    display: inline-block;
}

.event-item .event-banner {
    margin-bottom: 45px;
}

.event-item .events-title > h2 {
    color: #404553;
    font-family: 'Didot';
    text-transform: uppercase;
    text-align: center;
    font-size: 49px;
    font-weight: 400;
    line-height: 48px;
    padding: 0 0;
    margin-bottom: 10px;
    letter-spacing: 1.2px;
}

.event-item .event-info {
}

.event-item .event-info .event-date {
    font-family: TeXGyreBonum;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 35px;
}

.event-item .event-info .info {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
}

.event-item .event-info .ratings {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.event-item .event-info .description {
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 28px;
}

.event-item .order-container {
    text-align: center;
}

.event-item .order-container .button {
    display: inline-block;
    background-color: #3b3f4f;
    color: #ffffff;
    padding: 10px;
    min-width: 243px;
    height: 56px;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 50px;
}

.custom-letterbox {
    width: 100%;
    color: #ffffff;
    position: relative;
}

.custom-letterbox .letterbox-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
}

.custom-letterbox .letterbox-title {
    font-family: Didot;
    text-transform: uppercase;
    font-size: 78px;
    line-height: 0.9em;
    margin-bottom: 36px;
}

.custom-letterbox .letterbox-text {
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 36px;
}

.custom-letterbox .letterbox-text.text-uppercase {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

.custom-letterbox .letterbox-text.text-underline {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 1px;
    display: inline-block;
}

.custom-letterbox .letterbox-text.text-italic {
    font-style: italic;
    font-size: 14px;
    font-family: TexGyreBonum;
}

.custom-letterbox .letterbox-text.text-italic a {
    font-size: 14px;
    font-family: TexGyreBonum;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    padding-bottom: 1px;
}

.custom-letterbox .letterbox-link a {
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    padding-bottom: 1px;
    letter-spacing: 1.8px;
    font-family: Poppins;
}

.custom-letterbox.the-prefect-gift .letterbox-content {
    width: 50%;
    padding: 0 104px;
    text-align: center;
    top: 70px;
}

.custom-letterbox.private-screening .letterbox-content {
    top: 70px;
}

.custom-letterbox.private-screening .letterbox-title {
    line-height: 0.85em;
    margin-bottom: 32px;
}

.custom-letterbox.private-screening .letterbox-text {
    margin-bottom: 40px;
}

#showtimes .read-more {
    display: none;
}

#showtimes .showtimes-title .desc {
    display: none;
}

#top-nav > ul.for-mobile,
#top-nav > ul > li.for-mobile,
.for-mobile {
    display: none;
}

#showtimes .showtimes-details .showtimes .bottom {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 0 0 0px;
    margin-bottom: 10px;
}

#movies #showtimes .showtimes-details .showtimes .bottom {
    left: unset;
}

#movies #showtimes .showtimes-details .showtimes {
    position: relative;
}

#movies #showtimes .showtimes-details .showtimes .bottom {
    margin-bottom: 0;
}

.insta-item {
    overflow: hidden;
}

.block-title h2,
.blocks > h1,
.blocks > h2,
#coming-soon-block > h2,
#site-header {
    position: relative;
    padding-bottom: 5px;
}

.blocks > h2,
#coming-soon-block > h2 {
    padding-bottom: 30px;
}

.blocks > h1 {
    padding-bottom: 40px;
}

.block-title h2 {
    padding-bottom: 39px;
}

.block-title h2:after,
.blocks > h1:after,
.blocks > h2:after,
#site-header:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 144px;
    color: #e0d9cc;
    background-image: url("/assets/img/dotted-line.svg");
    background-position: 0 0;
    background-color: transparent;
    background-repeat: repeat-x;
    background-size: auto 180px;
}

#site-header:after {
    background-image: url("/assets/img/dotted-line-long.svg");
}

#movie .left-column {
    width: 28%;
    margin-right: 1.5%;
}

#movie .right-column {
    width: 70.5%;
}

#movie-poster-and-trailer .left-column {
    line-height: 0;
}

#movie-poster-and-trailer .right-column .inner {
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#movie-poster-and-trailer .left-column img {
    width: 100%;
}

#movie-poster-and-trailer .right-column .inner #play-trailer {
    opacity: 1;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    visibility: visible;
    z-index: 99999;
}

#movie-poster-and-trailer.played .right-column .inner #play-trailer {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}

#movie #movie-poster-and-trailer .right-column .inner #movie-video {
    display: block !important;
    height: 100%;
    margin-bottom: 0;
    z-index: 2;
    visibility: hidden;
}

#movie #movie-poster-and-trailer.played .right-column .inner #play-trailer {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}

#movie #movie-poster-and-trailer.played .right-column .inner #movie-video {
    visibility: visible;
}

#play-trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}

#play-trailer svg {
    width: 178px;
    max-width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}

#movie-poster-and-trailer .right-column .inner:hover #play-trailer svg {
    opacity: 1;
}

#movie-details {
    margin-top: 18px;
    background-color: #eae6dd;
}

#movie-details h1 {
    font-family: TeXGyreBonum;
    color: #3b3f4f;
    font-weight: 400;
}

#movie-details .left-column {
    padding: 18px 0 18px 18px;
}

#movie-details .left-column .inner {
    font-family: Poppins;
    font-size: 14px;
    color: #3b3f4f;
}

#movie-details .left-column .inner h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 0.1em;
}

#movie-details .left-column .inner {
    background-color: #f4f0ea;
    padding: 24px 44px;
    height: 100%;
}

#movie-details .left-column .inner .detail {
    margin: 0 0 20px 0;
}

#movie-details .right-column {
    padding: 34px 110px 78px 62px;
    position: relative;
}

#movie-details .right-column .detail {
    padding-bottom: 36px;
    border-bottom: 1px solid #424757;
    font-family: Poppins;
    font-weight: 400;
    color: #3b3f4f;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

#movie-details .right-column .showtimes-block {
    padding-top: 36px;
    padding-bottom: 0px;
}

#movie-details .right-column .showtimes-block h2 {
    font-family: Poppins;
    font-weight: 400;
    text-transform: uppercase;
    color: #3b3f4f;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

#movie-details .right-column #showtimes .showtimes {
    margin: 10px -1% 15px;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

#movie-details .right-column #showtimes .showtimes.no-available-showtimes {
    margin-left: 0;
    margin-right: 0;
}


#movie .showtimes-block .bottom {
    display: block;
    position: absolute;
    bottom: 18px;
    left: 62px;
    width: 100%;
    padding: 0 0 0 0px;
}

.alt-text {
    width: 0px;
    height: 0px;
    display: block;
    overflow: hidden;
}

#movies #showtimes .showtimes-details,
#movies #showtimes .showtimes a.showtime {
    display: none;
}

#movies #showtimes .showtimes-details.active-showtime,
#movies #showtimes .showtimes a.showtime.active-showtime {
    display: block;
}

/* newsletter popup*/
.newsletter-title {
    text-align: center;
    margin-top: 10px;
}

.subdivform {
    border: none;
    position: relative;
    float: left;
    width: 490px;
    max-width: 100%;
    padding: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.subdivwide {
    position: relative;
    float: left;
    width: 480px;
}

.subtxtinwide {
    width: 450px;
    height: 30px;
    padding-top: 2px;
    font-size: 19.37px;
    padding-left: 3px;
    margin-bottom: 3px;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.subsubmit {
    position: relative;
    float: left;
    width: 450px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subbutton {
    border: none;
    background-color: #333333;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana;
    height: 52px;
    width: 255px;
    cursor: pointer;
}

.subtextinleft {
    position: relative;
    float: left;
    clear: left;
    border: none;
    background-color: #CCCCCC;
}

.newsletter-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.newsletter-popup .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 490px;
    background-color: #ebe6dd;
    color: #3b4050;
    padding: 20px;
    width: 96%;
}

.newsletter-popup .inner .subdivwide,
.newsletter-popup .inner input,
.newsletter-popup .inner .subsubmit {
    width: 100%;
    margin-bottom: 0;
}

.newsletter-popup .inner input[type="submit"] {
    width: auto;
    padding: 0 16px;
}

.newsletter-popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.newsletter-popup .close:before,
.newsletter-popup .close:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    border-bottom: 2px solid #000000;
    width: 100%;
    height: 0;
    z-index: 999;
}

.newsletter-popup .close:before {
    left: 0%;
    transform: translate(0%, -50%) rotate(-45deg);
}

.newsletter-popup .close:after {
    right: 0%;
    transform: translate(0%, -50%) rotate(45deg);
}

.newsletter-popup .missing {
    border: 1px solid #ff4a00;
}

.coming-soon-slider {
    margin: 0 30px 0 30px;
    background-color: #ebe6dd;
    padding: 0 0 15px 0;
}
.coming-soon-slider .slider-text {
    text-align: center;

    text-align: center;
    color: #3b3f4f;
    font-family: 'Didot';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 60px 0 10px 0;
}

.coming-soon-slider .slider-text .sub-text {
    font-size: 13px;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.coming-soon-slider .slick-dots {
    bottom: 100px;
}

#dmca-load p {margin: 10px 0;}