{% extends 'common/base.twig' %}
{% set page_class = "page page-policy-cookies" %}


{% block meta_title %}{{ parent() }} | Cookies Policy {% endblock %}

{% block content %}
    <div class="ct_head">
        <div class="wrap">
            <h1>Cookies Policy</h1>
        </div>
    </div>

    <div id="fxp-content">

        <div class="standardpage">
            <p>Our Terms of Use and Privacy Policy offers you a thorough explanation regarding your personal data provided to us or any data we may collect from you.</p>

            <p>This Privacy Policy is updated from time to time; therefore, it should be reviewed occasionally.</p>

            <p>For the purpose&nbsp;for the GDPR, NEW PICTURE HOUSE (ST. ANDREWS) LIMITED is our data controller.</p>

            <p>&nbsp;</p>

            <p><strong>1. Collected Information</strong></p>
            <p>Data can be collected and processed during the operations of our website. The following are ways we may perform these actions:</p>

            <p>1.1 Data regarding your visit(s) to our website and any resources used are collected. The following is included and not limited to: location data, weblogs, traffic data, and any other communication information.</p>

            <p>1.2 Any forms you filled out on our site allows us to collect data such as registering for information or when you complete a purchase.</p>

            <p>1.3 If for any reason you communicate with our personnel or site we may collect information.</p>

            <p>&nbsp;</p>

            <p><strong>2. Cookie Usage</strong></p>

            <p>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.</p>
            <p>We use two broad categories of cookies:</p>
            <ul>
                <li>first party cookies, served directly by us to your computer or mobile device; and</li>
                <li>third party cookies, which are served by our partners or service providers on our Site.</li>
            </ul>

            <p>Our Site uses the following types of cookies for the purposes set out below:</p>

            <table border="1" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0px; font-family: calibri, sans-serif; font-size: 14px;">
                <tbody>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Type of cookie</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Purpose</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p><em>Essential Cookies</em></p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>These cookies are essential to provide you with services available through our Site and to enable you to use some of its features. For example, they allow you to log in to secure areas of our Site and help the content of the pages you request to load quickly. Without these cookies, the services that you have asked for cannot be provided, and we only use these cookies to provide you with those services.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p><em>Functionality Cookies</em></p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>These cookies allow our Site to remember choices you make when you use our Site, such as remembering your language preferences, remembering your login details and remembering the changes you make to other parts of our Site which you can customise.&nbsp;&nbsp;The purpose of these cookies is to provide you with a more personal experience and to avoid you having to re-enter your preferences every time you visit our Site.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p><em>Analytics and Performance Cookies</em></p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>These cookies are used to collect information about traffic to our Site and how users use our Site. The information gathered via these cookies does not "directly" identify any individual visitor. However, it may render such visitors "indirectly identifiable". This is because the information collected is typically linked to a pseudonymous identifier associated with the device you use to access our Site.&nbsp;The information collected is aggregated and anonymous. It includes the number of visitors to our Site, the websites that referred them to our Site, the pages they visited on our Site, what time of day they visited our Site, whether they have visited our Site before, and other similar information. We use this information to help operate our Site more efficiently, to gather broad demographic information and to monitor the level of activity on our Site.</p>
                        <p>We use Google Analytics for this purpose. Google Analytics uses its own cookies. It is only used to improve how our Site works. You can find out more information about Google Analytics cookies here:&nbsp;<a href="https://developers.google.com/analytics/resources/concepts/gaConceptsCookies" style="color: rgb(0, 0, 0);">https://developers.google.com/analytics/resources/concepts/gaConceptsCookies</a></p>
                        <p>You can find out more about how Google protects your data here:&nbsp;<a href="http://www.google.com/analytics/learn/privacy.html" style="color: rgb(0, 0, 0);">www.google.com/analytics/learn/privacy.html</a></p>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <p><strong>3. Our Use of Your Information</strong></p>

            <p>Information stored or collected regarding you helps us improve and offer services you need. The following list contains how we might use your data:</p>
            <p>3.1 Any request you make of our site or personnel allows us to use information you provided us with, relating to the products or services we have. We may also send information on products or services you may be interested in, as long as consent has been received.</p>
            <p>3.2 Contract Commitments: To meet any Commitment we make to you.</p>
            <p>3.3 Changes or Improvements made to the site can warrant use of your information, with regard to notification of such changes.</p>
            <p>3.4 An existing customer may be contacted regarding products and services related to any item of previous sale you made on our site.</p>
            <p>3.5 We may use data that is not related to goods or services you may be interested in. We will only contact you if consent has been provided by you at anytime, based on information we collected.</p>
            <p>3.6 Any new customer can only be contacted by us if consent has been offered via our site. We only send communications you have consented to.</p>
            <p>3.7 Anyone who does not wish to give consent for our site or third party use has the opportunity to decline. Once we receive your withhold for consent we will remove your details from any mailing lists.</p>
            <p>3.8 None of the information collected about you will offer identifiable characteristics. Information shared to a third party is statistical only. We will not reveal who you are, only mathematical information about our visitors.</p>
            <p>&nbsp;</p>

            <p><strong>4. Personal Data Storage</strong></p>

            <p>4.1 Locations outside the European Economic Area may be used for transferring data we collect about you. These data sites are for storing or processing of your information. The information we share outside the European Economic Area may be shared with staff based on the process and storage of said data. It may include such processes as processing a payment or offering support for your service or product needs. The staff processing or storing information may work for our suppliers outside the European Economic Area. By submitting your data to use you have agreed to this transfer and storage of data. We take all reasonable action to ensure the safety of your personal data in agreement with this Privacy Policy.</p>

            <p>4.2 Information we are provided will be stored on secure servers. Transaction data is encrypted for your safety.</p>

            <p>4.3 You should understand data via online transmission is not completely secure. We cannot guarantee full protection and security data, only that we take all reasonable action to protect information sent to us electronically. Transmission of any data by you is at your own risk. Where applicable you may be given access to sections of our site that require a password. You are responsible for the passwords safety and confidentiality.</p>

            <p>&nbsp;</p>

            <p><strong>5. Information Disclosure</strong></p>

            <p>5.1 At times we may disclose personal information to persons in our group. This can include subsidiaries, holding companies, or any other subsidiaries involved in our business, if applicable.</p>

            <p>5.2 Third Party disclosure may occur for the following reasons:</p>

            <p>5.2.1 Selling any or all of our business to a third party may result in sharing your information.</p>

            <p>5.2.2 At any time when we are legally required to we may disclose information about you and your visits to our sites.</p>

            <p>5.2.3 To prevent fraud and help in fraud protection in order to reduce credit risk, we may disclose information.</p>

            <p>&nbsp;</p>

            <p><strong>6. Third Party Links</strong></p>

            <p>6.1 Third party links may be discovered on our site. These third party links have their own privacy policy, which you agree to when you click on the link. We are not responsible nor do we accept responsibility for third party links. Our liability covers us only on our site, and thus we do not accept liability for third party links as we have no control over them.</p>

            <p>&nbsp;</p>

            <p><strong>7. Your rights to your personal data</strong></p>

            <p>By law you have the right to:</p>

            <p>7.1 Request access to your Personal Data. This enables you to receive a copy of the Personal Data we hold about you and to check that we are lawfully processing it.</p>

            <p>7.2 Request correction of the Personal Data that we hold about you. This enables you to have any incomplete or inaccurate information we hold about you corrected.</p>

            <p>7.3 Request erasure of your Personal Data. This enables you to ask us to delete or remove Personal Data where there is no good reason for us continuing to process it. You also have the right to ask us to delete or remove your Personal Data where you have exercised your right to object to processing.</p>

            <p>7.4 Object to processing of your Personal Data. This right exists where we are relying on a Legitimate Interest as the legal basis for our processing and there is something about your particular situation, which makes you want to object to processing on this ground. You also have the right to object where we are processing your Personal Data for direct marketing purposes.</p>

            <p>7.5 Request the restriction of processing of your Personal Data. This enables you to ask us to suspend the processing of Personal Data about you, for example if you want us to establish its accuracy or the reason for processing it.</p>

            <p>7.6 Request the transfer of your Personal Data. We will provide to you, or a third party you have chosen, your Personal Data in a structured, commonly used, machine-readable format. Note that this right only applies to automated information which you initially provided consent for us to use or where we used the information to perform a contract with you.</p>

            <p>7.7 Withdraw consent. This right only exists where we are relying on consent to process your Personal Data ("Consent Withdrawal"). If you withdraw your consent, we may not be able to provide you with access to the certain specific functionalities of our Site. We will advise you if this is the case at the time you withdraw your consent.</p>

            <p>&nbsp;</p>

            <p>8. What Personal Data we collect.</p>

            <p>All the Personal Data we collect, both from you and from third parties about you, is outlined in the table below.</p>

            <p>Before you read that table, it might be useful to explain what "Personal Data" is. The GDPR definition of Personal Data can be found&nbsp;<a href="https://gdpr-info.eu/art-4-gdpr/" style="color: rgb(0, 0, 0);">here</a>.</p>

            <p>It does&nbsp;not&nbsp;include &#39;anonymous data&#39; (i.e., information where the identity of individual has been permanently removed).</p>

            <p>However, it&nbsp;does&nbsp;include &#39;indirect identifiers&#39; or &#39;pseudonymous data&#39; (i.e., information which alone doesn&#39;t identify an individual but, when combined with certain additional and reasonably accessible information, could be attributed to a particular person).</p>

            <table border="1" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0px; font-family: calibri, sans-serif; font-size: 14px;">
                <tbody>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Category of Personal Data collected</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>What this means</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Identity Data</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>First name, surname.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Contact Data</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Your email address.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Financial Data</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Your payment card details.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Transaction Data</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Any details about payments you have made to us.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Marketing and Communications Data</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Your preferences in receiving marketing from us and your communication preferences.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Technical Data</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Internet protocol (IP) address, your login data, browser type and version, time zone setting and location, browser plug-in types and versions, operating system and platform and other technology on the devices you use to access this website or use our services.</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <p>8.1 What is our "legal basis" for processing your Personal Data?</p>

            <p>In respect of each of the purposes for which we use your Personal Data, the GDPR requires us to ensure that we have a "legal basis" for that use. Most commonly, we will rely on one of the following legal bases:</p>
            <ul>
                <li>Where we need to perform a contract we are about to enter into or have entered into with you ("Contractual Necessity").</li>
                <li>Where it is necessary for our legitimate interests and your interests and fundamental rights do not override those interests ("Legitimate Interests"). More detail about the specific legitimate interests pursued in respect of each Purpose we use your Personal Data for is set out in the table below.</li>
                <li>Where we need to comply with a legal or regulatory obligation ("Compliance with Law").</li>
                <li>Where we have your specific consent to carry out the processing for the purpose in question ("Consent").</li>
            </ul>
            <p>Generally we do not rely on your Consent as a legal basis for using your Personal Data [other than in the context of direct marketing communications].</p>

            <p>We have set out below, in a table format, the legal bases we rely on in respect of the relevant purposes for which we use your Personal Data.</p>

            <table border="1" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0px;">
                <tbody>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Purpose</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Category(ies) of Personal Data involved</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Why do we do this</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Our legal basis for this use of data</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>To process payments for bookings for film performances</p>
                    </td>
                    <td style="vertical-align: top;">
                        <ul>
                            <li>Identity Data</li>
                            <li>Contact Data</li>
                            <li>Finance Data</li>
                            <li>Transaction Data</li>
                        </ul>
                    </td>
                    <td style="vertical-align: top;">
                        <p>To process and deliver your order including manage payments, fees and charges.</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Contractual Necessity.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Fraud Prevention</p>
                    </td>
                    <td style="vertical-align: top;">
                        <ul>
                            <li>Identity Data</li>
                            <li>Contact Data</li>
                        </ul>
                    </td>
                    <td style="vertical-align: top;">
                        <p>To keep our website, our services and associated systems operational and secure.</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Legitimate Interests.</p>
                        <p>We have a legitimate interest in ensuring the ongoing security and proper operation of our services, website and associated IT services and networks.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Troubleshooting</p>
                    </td>
                    <td style="vertical-align: top;">
                        <ul>
                            <li>Technical Data</li>
                        </ul>
                    </td>
                    <td style="vertical-align: top;">
                        <p>To track issues that might be occurring on our systems.</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Legitimate Interests.</p>
                        <p>It is in our legitimate interests that we are able to monitor and ensure the proper operation of our Sites and associated systems and services.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Marketing</p>
                    </td>
                    <td style="vertical-align: top;">
                        <ul>
                            <li>Contact Data</li>
                            <li>Marketing and Communications Data</li>
                        </ul>
                    </td>
                    <td style="vertical-align: top;">
                        <p>To form a view on what we think you may want or need, or what may be of interest to you. This is how we decide which services and offers may be relevant for you.</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Legitimate Interests.</p>
                        <p>We have a legitimate interest in providing you with updates on our Sites and related offers where you have purchased or shown interest in similar services from us.</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <p>9. How long we store your Personal Data.</p>

            <p>We will only retain your Personal Data for so long as we reasonably need to use it for unless a longer retention period is required by law (for example for regulatory purposes).</p>

            <p>The table below shows our standard retention practices:</p>

            <table border="1" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0px; font-family: calibri, sans-serif; font-size: 14px;">
                <tbody>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Category of Personal Data</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>Retention period</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Behavioural Data</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>For so long as retention is necessary to fulfil the Purposes/Use for which it is used.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Marketing and Communications Data</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>For so long as you remain a customer of ours.</p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <p>Contact Data</p>
                    </td>
                    <td style="vertical-align: top;">
                        <p>For so long as retention is necessary to fulfil the Purposes/Use for which it is used.</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>
        </div>
    </div>

{% endblock %}






