<form name="form1" id="newsletter-popup">
    <div class="newsletter-title">
        Join the Highland Park Village Theatre Newsletter Club and receive weekly showtimes right into your inbox including special events, coupons and more!
    </div>
    <div class="subdivform">
        <div id="pnl_emx_first" class="subdivwide">
            <div class="sublabel"><span id="lbl_emx_first">* First name</span></div>
            <div class="subreq"></div>
            <input name="txt_emx_first" type="text" id="txt_emx_first" class="subtextinleft subtxtinwide required">
        </div>
        <div id="pnl_emx_last" class="subdivwide">
            <div class="sublabel"><span id="lbl_emx_last">* Last name</span></div>
            <div class="subreq"></div>
            <input name="txt_emx_last" type="text" id="txt_emx_last" class="subtextinleft subtxtinwide required">
        </div>
        <div id="pnl_email_address" class="subdivwide">
            <div class="sublabel"><span id="lbl_email_address">* Email Address</span></div>
            <div class="subreq"></div>
            <input name="txt_email_address" type="text" id="txt_email_address" class="subtextinleft subtxtinwide required">
        </div>
        <div class="subsubmit">
            <input type="submit" name="submit" value="SIGN ME UP!" id="submit" class="subbutton">
        </div>
    </div>
</form>
<div class="success">
    <div class="title">
        Thanks!
    </div>
        <span>You'll be receiving your newsletter soon.</span>
</div>
<div class="error">
    <div class="title">
        Error!
    </div>
    <span>Sorry, Error occured</span>
</div>