<ul>
    <li><a href="/movies">Movies</a></li>
    <li><a href='/gift-cards'>Gift Cards</a></li>
    <li><a href='/events-promotions'>Events</a></li>
    <li><a href='/'>FAQ</a></li>
    <li><a href='/'>Careers</a></li>
    <li><a href='/'>Contact</a></li>
</ul>