<ul>
    <li class="{% if(this_page.page_id is defined and this_page.page_id == 9659 ) %} current {% endif %}">
        <a href='/about'><span class="name">Home</span></a>
    </li>
    <li class="{% if(this_page.page_id is defined and this_page.page_id == 0 ) %} current {% endif %}">
        <a href='/'><span class="name">Movies</span></a>
    </li>
    <li class="{% if(this_page.page_id is defined and this_page.page_id == 9661 ) %} current {% endif %}">
        <a href='/gift-cards'><span class="name">Gift Cards</span></a>
    </li>
    <li class="{% if(this_page.page_id is defined and this_page.page_id == 0 ) %} current {% endif %}">
        <a href='/'><span class="name">Events</span></a>
    </li>
    <li class="{% if(this_page.page_id is defined and this_page.page_id == 0 ) %} current {% endif %}">
        <a href='/'><span class="name">About</span></a>
    </li>
    <li class="{% if(this_page.page_id is defined and this_page.page_id == 0 ) %} current {% endif %}">
        <a href='/'><span class="name">Contact</span></a>
    </li>
</ul>