<div class="col-md-6 col-lg-3">
    <div class="column-title"><span>MATINEE</span> SHOWS BEFORE 6 PM</div>
    <div class="schedule-line">
        <div>All Seats</div>
        <div>$11.50</div>
    </div>
</div>
<div class="col-md-6 col-lg-3">
    <div class="column-title"><span>REGULAR</span> AFTER 6 PM</div>
    <div class="schedule-line">
        <div>Adults</div>
        <div>$14.00</div>
    </div>
    <div class="schedule-line">
        <div>Seniors(62+) & Kid(11-)</div>
        <div>$11.50</div>
    </div>
</div>
<div class="col-md-6 col-lg-3">
    <div class="column-title"><span>WEEKENDS &</span> HOLIDAYS</div>
    <div class="schedule-line">
        <div>First Show</div>
        <div>$11.50</div>
    </div>
    <div class="schedule-line">
        <div>Adults</div>
        <div>$14.00</div>
    </div>
    <div class="schedule-line">
        <div>Seniors & Kids</div>
        <div>$11.50</div>
    </div>
</div>
<div class="col-md-6 col-lg-3">
    <div class="column-title"><span>$6 TUESDAY</span> ALL DAY! ALL SEATS!</div>
    <div class="schedule-line">
        <div>All Seats</div>
        <div>$6.00</div>
    </div>
</div>
