{% block content %}
    <div id="wrapper">
        <main id="main-content" class="clearfix employment-page">
            <div class="two-columns-container">
                <div class="content-container">
                    <h1>Employment</h1>
                    <h2>WHAT IT TAKES TO BECOME A WATER GardensER</h2>
                    <p>We are extremely proud of our staff. Water Gardens is Challenging, fun place to work.</p>
                    <h2>WHAT ARE WE LOOKING FOR?</h2>
                    <p>
                        Professional and Friendly: Customers come to our theatre to have a good time.
                        Employees are smiling, attentive, friendly and genuinely interested in providing
                        the best customer service experience possible.
                    </p>
                </div>

                <div class="sidebar-block blocks">
                    <div class="sidebar">
                        {{ include('parts/sidebar.twig') }}
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}