<div class="evenement evt-demo-roanne gauche vue_site visuel_perso" id="evt1">
    <!-- 1 -->
    <h2 class="toggle2">
        <span class="evt-titre">
            <a href="http://demo-roanne.cotecine.fr/evenement/1674961-bts-le-phenomene-k-pop">BTS : Le phénomène K-pop</a>
        </span>
    </h2>
    <div class="evtcontenu evtcontenu2"><h3>Le meilleur groupe du monde a enfin son film !</h3>
        <div class="introtext">
            <a href="http://demo-roanne.cotecine.fr/evenement/bts.png" rel="splash|yup"><img
                        src="http://demo-roanne.cotecine.fr/evenement/460x0/bts.png" width="460" height="235"
                        style="width:460px;height:235px;" alt="BTS : Le phénomène K-pop" class=" left"/></a>
            <h3>Burn the Stage: The Movie</h3>
            <p class="fichefilm_evenement director_cast"></p>
            {#<p class="fichefilm_evenement synopsis">Burn the Stage: the Movie est le premier documentaire de BTS.#}
                {#Filmé dans les coulisses de la tournée BTS WINGS TOUR, il suit l'ascension...<a#}
                        {#href="http://demo-roanne.cotecine.fr/film/258773/"> Voir la suite</a></p>#}
            <div class="clr">&nbsp;</div>
        </div>
        <span class="evt_liens_film">
            <a class="film" href="http://demo-roanne.cotecine.fr/film/258773/">
                <span class="evt_txt_infos">Infos</span>
                <span class="evt_txt_hor">et horaires</span>
                <span class="evt_txt_pour">pour le film</span>
                <span class="evt_txt_titre_film">
                    <br/>Burn the Stage: The Movie</span>
            </a>
        </span>
        <div class="evt_partage">
            <strong class="evt_ptg_titre">Partager cet évènement :</strong>
            <a class="evt_fb"
               href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674961-bts-le-phenomene-k-pop"
               title="Partager sur Facebook">
                <img src="/shared/pixel_trans.gif" alt="Partager sur Facebook"/>
                <span class="nope">sur Facebook</span>
            </a>
            <a class="evt_tw"
               href="https://twitter.com/intent/tweet?text=BTS+%3A+Le+ph%E9nom%E8ne+K-pop&url=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674961-bts-le-phenomene-k-pop"
               title="Partager sur Twitter">
                <img src="/shared/pixel_trans.gif" alt="Partager sur Twitter"/>
                <span class="nope">sur Twitter</span>
            </a>
            <a class="evt_mail"
               href="mailto:?subject=BTS+%3A+Le+ph%E9nom%E8ne+K-pop&body=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674961-bts-le-phenomene-k-pop"
               title="Partager par e-mail">
                <img src="/shared/pixel_trans.gif" alt="Partager par e-mail"/>
                <span class="nope">par e-mail</span>
            </a>
        </div>
    </div>
</div>

<div class="evenement evt-demo-roanne gauche vue_site visuel_perso" id="evt2">
    <!-- 1 -->
    <h2 class="toggle3">
        <span class="evt-titre">
            <a href="http://demo-roanne.cotecine.fr/evenement/1674963-le-grinch-est-de-retour">Le Grinch est de retour</a>
        </span>
    </h2>
    <div class="evtcontenu evtcontenu3"><h3>Comme les minions, mais en vert</h3>
        <div class="introtext">
            <a href="http://demo-roanne.cotecine.fr/evenement/grinch.png" rel="splash|yup">
                <img src="http://demo-roanne.cotecine.fr/evenement/460x0/grinch.png" width="460" height="235"
                     style="width:460px;height:235px;" alt="Le Grinch est de retour" class=" left"/>
            </a>
            <h3>Le Grinch</h3>
            {#<p class="fichefilm_evenement director_cast">Réalisé par <strong>SCOTT MOSIER, Yarrow#}
                    {#Cheney</strong><br/>Avec <strong>Laurent Lafitte, Lior Chabbat, Nicolas Marié, Rashida Jones,#}
                    {#Tristan O’Hare</strong>#}
            {#</p>#}
            {#<p class="fichefilm_evenement interdiction"><strong class="hi">Tous publics</strong></p>#}
            {#<p class="fichefilm_evenement synopsis">Chaque année à Noël, les Chous viennent perturber la#}
                {#tranquillité solitaire du Grinch avec des célébrations toujours plus grandioses,...<a#}
                        {#href="http://demo-roanne.cotecine.fr/film/how-the-grinch-stole-christmas-2018/"> Voir la#}
                    {#suite</a>#}
            </p>
            <div class="clr">&nbsp;</div>
        </div>
        <span class="evt_liens_film">
            <a class="film"
               href="http://demo-roanne.cotecine.fr/film/how-the-grinch-stole-christmas-2018/">
                <span class="evt_txt_infos">Infos</span>
                <span class="evt_txt_hor">et horaires</span>
                <span class="evt_txt_pour">pour le film</span>
                <span class="evt_txt_titre_film"><br/>Le Grinch</span>
            </a>
        </span>
        <div class="evt_partage"><strong class="evt_ptg_titre">Partager cet évènement :</strong>
            <a class="evt_fb"
               href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674963-le-grinch-est-de-retour"
               title="Partager sur Facebook">
                <img src="/shared/pixel_trans.gif" alt="Partager sur Facebook"/>
                <span class="nope">sur Facebook</span>
            </a>
            <a class="evt_tw"
               href="https://twitter.com/intent/tweet?text=Le+Grinch+est+de+retour&url=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674963-le-grinch-est-de-retour"
               title="Partager sur Twitter">
                <img src="/shared/pixel_trans.gif" alt="Partager sur Twitter"/>
                <span class="nope">sur Twitter</span>
            </a>
            <a class="evt_mail" href="mailto:?subject=Le+Grinch+est+de+retour&body=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674963-le-grinch-est-de-retour"
                title="Partager par e-mail"><img
                src="/shared/pixel_trans.gif" alt="Partager par e-mail"/><span
                class="nope">par e-mail</span></a></div>
    </div>
</div>

<div class="evenement evt-demo-roanne gauche vue_site visuel_perso" id="evt3">
    <!-- 1 -->
    <h2 class="toggle4"><span class="evt-titre"><a
                    href="http://demo-roanne.cotecine.fr/evenement/1674947-asterix-en-avant-premix">Asterix, en avant-premix</a></span>
    </h2>
    <div class="evtcontenu evtcontenu4"><h3>Lundi à 21h</h3>
        <div class="introtext">
            <a href="http://demo-roanne.cotecine.fr/evenement/asterix.png" rel="splash|yup">
                <img
                        src="http://demo-roanne.cotecine.fr/evenement/460x0/asterix.png" width="460" height="235"
                        style="width:460px;height:235px;" alt="Asterix, en avant-premix" class=" left"/></a>
            <h3>Astérix - Le Secret de la Potion Magique</h3>
            {#<p class="fichefilm_evenement director_cast">Réalisé par <strong>Louis Clichy, Alexandre#}
                    {#Astier</strong><br/>Avec#}
                {#<strong>Bernard Alane, Christian Clavier, Guillaume Briat, Lévanah Solomon, Lana Ropion</strong></p>#}
            {#<p class="fichefilm_evenement interdiction"><strong class="hi">Tous publics</strong></p>#}
            {#<p class="fichefilm_evenement synopsis">À la suite d'une chute lors de la cueillette du gui, le druide#}
                {#Panoramix décide qu'il est temps d'assurer l'avenir du village. Accompagné d'...<a#}
                        {#href="http://demo-roanne.cotecine.fr/film/218134/"> Voir la suite</a>#}
            </p>
            <div class="clr">&nbsp;</div>
        </div>
        <span class="evt_liens_film">
            <a class="film" href="http://demo-roanne.cotecine.fr/film/218134/">
                <span class="evt_txt_infos">Infos</span>
                <span class="evt_txt_hor">et horaires</span>
                <span class="evt_txt_pour">pour le film</span>
                <span class="evt_txt_titre_film"><br/>Astérix - Le Secret de la Potion Magique</span>
            </a>
        </span>
        <div class="evt_partage">
            <strong class="evt_ptg_titre">Partager cet évènement :</strong>
            <a class="evt_fb"
               href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674947-asterix-en-avant-premix"
               title="Partager sur Facebook">
                <img src="/shared/pixel_trans.gif" alt="Partager sur Facebook"/>
                <span class="nope">sur Facebook</span></a>
            <a class="evt_tw"
               href="https://twitter.com/intent/tweet?text=Asterix%2C+en+avant-premix&url=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674947-asterix-en-avant-premix"
               title="Partager sur Twitter">
                <img src="/shared/pixel_trans.gif" alt="Partager sur Twitter"/>
                <span class="nope">sur Twitter</span>
            </a>
            <a class="evt_mail"
               href="mailto:?subject=Asterix%2C+en+avant-premix&body=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674947-asterix-en-avant-premix"
               title="Partager par e-mail">
                <img src="/shared/pixel_trans.gif" alt="Partager par e-mail"/>
                <span class="nope">par e-mail</span>
            </a>
        </div>
    </div>
</div>

<div class="evenement evt-demo-roanne gauche vue_site visuel_perso" id="evt4">
    <!-- 1 -->
    <h2 class="toggle5"><span class="evt-titre"><a
                    href="http://demo-roanne.cotecine.fr/evenement/1674949-sauver-ou-perir">Sauver ou périr</a></span>
    </h2>
    <div class="evtcontenu evtcontenu5"><h3>Sérieux candidat aux Césars 2019</h3>
        <div class="introtext">
            <a href="http://demo-roanne.cotecine.fr/evenement/sauverperir.png" rel="splash|yup">
                <img src="http://demo-roanne.cotecine.fr/evenement/460x0/sauverperir.png" width="460" height="235"
                     style="width:460px;height:235px;" alt="Sauver ou périr" class=" left"/>
            </a>
            <h3>Sauver ou périr</h3>
            {#<p class="fichefilm_evenement director_cast">Réalisé par <strong>Frédéric Tellier</strong><br/>Avec#}
                {#<strong>Pierre Niney, Anaïs Demoustier, Chloé Stefani, Vincent Rottiers, Sami Bouajila</strong>#}
            {#</p>#}
            {#<p class="fichefilm_evenement synopsis">Franck est Sapeur-Pompier de Paris. Il sauve des gens. Il vit#}
                {#dans la caserne avec sa femme qui accouche de jumelles. Il est heureux. Lors d...<a#}
                        {#href="http://demo-roanne.cotecine.fr/film/220414/"> Voir la suite</a>#}
            </p>
            <div class="clr">&nbsp;</div>
        </div>
        <span class="evt_liens_film">
            <a class="film" href="http://demo-roanne.cotecine.fr/film/220414/">
                <span class="evt_txt_infos">Infos</span>
                <span class="evt_txt_hor">et horaires</span>
                <span class="evt_txt_pour">pour le film</span>
                <span class="evt_txt_titre_film"><br/>Sauver ou périr</span>
            </a>
        </span>
        <div class="evt_partage">
            <strong class="evt_ptg_titre">Partager cet évènement :</strong>
            <a class="evt_fb"
               href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674949-sauver-ou-perir"
               title="Partager sur Facebook">
                <img src="/shared/pixel_trans.gif" alt="Partager sur Facebook"/>
                <span class="nope">sur Facebook</span>
            </a>
            <a class="evt_tw"
               href="https://twitter.com/intent/tweet?text=Sauver+ou+p%E9rir&url=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674949-sauver-ou-perir"
               title="Partager sur Twitter">
                <img src="/shared/pixel_trans.gif" alt="Partager sur Twitter"/>
                <span class="nope">sur Twitter</span>
            </a>
            <a class="evt_mail"
               href="mailto:?subject=Sauver+ou+p%E9rir&body=http%3A%2F%2Fdemo-roanne.cotecine.fr%2Fevenement%2F1674949-sauver-ou-perir"
               title="Partager par e-mail">
                <img src="/shared/pixel_trans.gif" alt="Partager par e-mail"/>
                <span class="nope">par e-mail</span>
            </a>
        </div>
    </div>
</div>