<footer id="footer">
	<div id="powered-container">
		<a href="https://company.boxoffice.com/">
			<img id="PoweredRight" src="https://movienewsletters.net/poweredby/boxoffice/light.svg" alt="Powered by The Boxoffice Company">
		</a>
	</div>
	{{ include('helper/social_media.twig', {icons:this_page.header.social_icons}) }}
   	{{ include('parts/pages_bottom_nav.twig') }}
</footer>