<div class="newsletter-form-container">
    <h2>Sign up for our newsletter and receive a FREE popcorn!</h2>
    <div id="newsletter-form">
        <form action="https://csxutils.fbmovies.cinema-source.com/subscribe/">
            <input type="hidden" name="cust_id" value="{{ site.config.cust_id }}"/>
            <input type="hidden" name="iframe" value="true"/>
            <input type="hidden" name="width" value="600"/>
            <input type="hidden" name="height" value="400"/>
            <input aria-label="newsletter form" type="text" name="txt_email_address" value="" placeholder=""/>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>