<div class="newsletter-block blocks">
    {{ include('parts/newsletter_form.twig') }}
</div>

<div class="pricing-block blocks">
    {{ include('parts/sidebar_pricing.twig') }}
</div>


<div class="promotions-block blocks">
    <div class="promotions-container">
        <div class="banners">
            {{ include('helper/banners.twig') }}
        </div>
    </div>
</div>
