<div id="cc-dvs-info" align="center" style="width:600px; height:300px; margin-left:20px;" hidden>
    <p align="left"><span style="font-size: 24px; font-weight: bold;">What is CC/DVS?</span><br>
        <br></p>
    <p align="left">Marquee Cinemas offers assistive listening and closed captioning (CC) devices in all auditoriums for patrons who may be hard of hearing or deaf.  Assistive listening headsets can help to amplify a movie’s audio and dialogue more clearly.  Closed captioning transmitters simply rest in a cupholder and can be adjusted to a guest’s line of sight to deliver a privately viewed written description of the film’s audio.</p>
    <p align="left">Guests may also take advantage of descriptive video headsets in all auditoriums.  These headsets will provide narrative information about key visual actions, film setting, and scene changes for patrons who have low vision or those who are blind.</p>
    <p align="left">Please check with your local theater’s box office about utilizing a CC/DVS device to assist your next movie going experience.</p>
</div>
