{% if this_page.house_id == 42031 %}
    <div id="mxc-info" align="center" style="width:600px; height:200px; margin-left:20px;" hidden>
        <p align="left"><span style="font-size: 24px; font-weight: bold;">What is MXC?</span><br>
            <br></p>
        <p align="left">Marquee Extreme Cinema studios feature Dolby Atmos Sound, 4K Christie projection, plush luxury electric recliners and wall to wall screens.  MXC provides the ultimate experience in comfort, picture and sound quality.</p>
        <p>
            <img src="/assets/img/mxc_1.jpg" style="width: 80%;" />
        </p>
    </div>
{% elseif this_page.house_id == 26188 %}
    <div id="mxc-info" align="center" style="width:600px; height:200px; margin-left:20px;" hidden>
        <p align="left"><span style="font-size: 24px; font-weight: bold;">What is MXC?</span><br>
            <br></p>
        <p align="left">Marquee Extreme Cinema studios feature Dolby Atmos Sound, 4K Christie projection, plush luxury electric heated recliners and wall to wall screens.  MXC provides the ultimate experience in comfort, picture and sound quality.</p>
        <p>
            <img src="/assets/img/mxc_3.jpg" style="width: 80%;" />
        </p>
    </div>
{% elseif this_page.house_id == 26192 %}
    <div id="mxc-info" align="center" style="width:600px; height:200px; margin-left:20px;" hidden>
        <p align="left"><span style="font-size: 24px; font-weight: bold;">What is MXC?</span><br>
            <br></p>
        <p align="left">Marquee Extreme Cinema studios feature Dolby Atmos Sound, 4K Christie projection, plush luxury electric heated recliners and wall to wall screens.  MXC provides the ultimate experience in comfort, picture and sound quality.</p>
        <p>
            <img src="/assets/img/mxc_2.jpg" style="width: 80%;" />
        </p>
    </div>
{% else %}
    <div id="mxc-info" align="center" style="width:600px; height:200px; margin-left:20px;" hidden>
        <p align="left"><span style="font-size: 24px; font-weight: bold;">What is MXC?</span><br>
            <br></p>
        <p align="left">Marquee Extreme Cinema studios feature Dolby Atmos Sound, 4K Christie projection, plush luxury electric recliners and wall to wall screens.  MXC provides the ultimate experience in comfort, picture and sound quality.</p>
        <p>
            <img src="/assets/img/mxc_1.jpg" style="width: 45%;" />
            <img src="/assets/img/mxc_2.jpg" style="width: 45%;" />
            <img src="/assets/img/mxc_3.jpg" style="width: 45%;" />
        </p>
    </div>
{% endif %}